[2020-01-23 14:47] juney-lee opened #8 "algorithms"

[2020-01-23 14:47] juney-lee opened #9 "diagrams"

[2020-01-23 14:48] juney-lee opened #10 "infrastructure"

[2020-01-23 14:57] juney-lee opened #12 "design"

[2020-01-24 13:47] juney-lee opened #13 "extensions"

[2020-01-24 14:16] juney-lee opened #14 "pattern from boundary features"
compas_singular stuff

generate a form diagram from a set of boundary features (support curves/points, open edge curves, openings, singularities), and output a PatternObject

[2020-01-24 14:59] juney-lee opened #17 "documentation"
API documentation

[2020-01-27 10:22] juney-lee opened #19 "settings - visualisation"
settings for setting/controlling visualisation options and modes

**Options**
- dynamic drawing options (inspectors) >>> on by default
- conduits (visualisation on/off, refreshrate, etc)
- color scheme (corresponding edges, force magnitude or default)

**Toggles**
- force mags as dots?
- angle deviation as dots?
- reaction forces
- feet
- display thrust diagram mesh
- thrust diagram mesh color ana

[2020-01-27 11:40] juney-lee opened #24 "documentation"

[2020-01-29 15:50] brgcode opened #36 "Highlight focused component and topological relations"
when browsing through component forms

- display key of element in focus
- display neighbours of element in focus

[2020-01-29 15:51] brgcode opened #37 "Magic hand problem"
make the magic hand go away

[2020-01-29 15:57] brgcode opened #38 "global visualization standard"
- no faces in force diagram
- default color force diagram edges?
- force diagram vertices off by default
- single default color for form diagram edges
- form diagram off by default
- all support vertices on by default
- form diagram faces off
- thrust diagram with faces
- thrust diagram single default color for edges

[2020-01-29 16:00] brgcode opened #39 "Feet problem"
- show resultants
- show components during dynamic drawing
- show components during attribute editing

[2020-01-31 10:20] juney-lee opened #50 "graphic statics"
button for graphic statics analysis/information

- show resultants (moment equilibrium in horizontal and vertical)
- ...

[2020-02-01 13:01] juney-lee opened #51 "rhino menu structure"
**Initialize**

**Settings**
- General settings
- Visualization settings

**File**

---

**MakeFormDiagram**
- From OBJ
- From JSON
- From Rhino lines
- From Rhino mesh
- From Rhino NURB surface
- From features
- From skeleton

---

**Boundary conditions**
- Options
- Modify

---

**MakeForceDiagram**

---

**HorizontalEquilibrium**

**VerticalEquilibrium**

---

**ModifyFormDiagram**

- Attribute

[2020-02-05 23:24] brgcode opened #56 "Forms"
- [ ] Resize policy: fit contents + resizable with min/max size
- [ ] RV2 settings: sections, specialised controls
- [ ] Float values: precision setting (update interactively)

[2020-02-05 23:46] brgcode opened #58 "Examples"
Fully documented examples

- [ ] Barrel vault: single curvature through appropriate bounds on q
- [ ] Dome: dual is reciprocal, influence of scale, hoop forces
- [ ] Cross vault: bounds on q + fitting?
- [ ] Pillow: ?
- [ ] Pavilion vault: ?
- [ ] Spiral staircase: ?

[2020-02-05 23:49] brgcode opened #59 "compas integration - fabrciation/stereotomy"
For tutorial 5, covering RV2 integration with COMPAS: materialisation of thrust diagrams with discrete blocks.

[2020-02-18 20:15] brgcode opened #64 "Precision for geometric keys should be a user-controlled setting"
title says it all :)

Rhino tends to not snap to the correct points when making line drawings.
Problem is easily solved by decreasing the COMPAS precision, but user has no access to this in RV2 through UI...

[2020-02-24 09:24] Licini opened #72 "Implement alerts when using RV2 incorrectly"
We should incorporate some alert mechanism when user get the steps in wrong order. For instance clicking on horizontal equilibrium without updating boundary throws an unclear proxy error which should be more explicit.

[2020-03-02 17:11] Licini opened #78 "Lock rhino objects or add refresh button"
Should we establish some mechanisms to prevent users to accidentally drag around or delete parts from diagrams?
I can think of three ways:
1. make each diagrams as group (still cannot prevent the whole group to be moved around tho)
2. lock all objects generated and associated with rv2
3. add a refresh button to redraw everything from data into rhino

[2020-03-05 12:42] juney-lee opened #80 "conduits"
Add conduit visualization features for horizontal (force diagram parallelising) and vertical (and options, i.e. refreshrate in global settings)

Edges for conduit are all (255, 255, 255) by default with thinnest line weight.

[2020-03-05 15:30] juney-lee opened #81 "workflow diagram"
diagram summarizing the RV2 workflow for "tutorial" section of the documentation

[2020-03-05 15:35] juney-lee opened #82 "enable post-form-found skeleton modification"
If a structure was generated/form-found using skeleton, then enabling "modify skeleton" even after a thrust network is found would be a really cool feature

[2020-03-05 15:38] juney-lee opened #83 "toggle edge as compression/tension"
RV1 called it "flip edges"... maybe it's an edge attribute as a boolean for "is_tension" or just -q's

This will need specific examples (funnel shell or others) to show how this works

[2020-03-06 11:33] juney-lee opened #87 "decrease significant digits in attribute window items"
for example, xyz coordinates probably don't need more than 3 significant digits to be displayed in the attribute window...

[2020-03-06 11:34] juney-lee opened #88 "use actual attribute names as columns in popup attribute windows"

[2020-03-06 11:36] juney-lee opened #89 "explicit error popup/messages"
for example, if a session has no skeleton, and "modify skeleton" is activated, the error should tell the user that there is no skeleton... an not some Traceback/generic python error

[2020-03-06 11:43] juney-lee opened #91 "pattern from triangulation"
using delaunay triangulation and remesh functions

input: boundary curves, guide internal curves (optional)
output: PatternObject

show simple example in "Session 2":
[https://app.gitbook.com/invite/blockresearchgroup?invite=-M8uDcBq1Knd3axqdkAC](url)

[2020-03-06 11:54] juney-lee opened #92 "DBC - define loads"
- [ ] modify thickness (uniform or not)
- [ ] add point loads
- [ ] add area loads (multiple point loads)
- [ ] toggle for including faces as self-weight
- [ ] toggle for including edges as self-weight
- [ ] ...

[2020-03-17 09:01] juney-lee opened #96 "omit "select the leaf vertex" and "select node vertex" steps in from_skeleton"
These two steps can be omitted, I think... additional clicks that don't really do anything.

Maybe the Rhino command prompt steps could be refined to:

1. Select a connected set of lines and/or polylines:
2. Set leaf vertex width (provide default value... which can be calculated based on each of the size of the leaf edges?):
3. Set internal vertex width (provide default value... which can be calcu

[2020-03-18 15:08] juney-lee opened #97 "from skeleton - parameter for curving the support edges"
It will be nice to add this feature, because as of now, all the supports are completely straight/perpendicular, which is very constraining...

not urgent

![Photo 18.03.20, 13 36 58.jpg](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/5b966903-3f9b-4ad4-935d-161ada349fb0)

[2020-03-19 09:26] juney-lee opened #98 "selecting elements through the other diagrams"
Going through workflow scenarios for examples...

I think it would be useful to be able to select vertices/edges/faces of one diagram through the corresponding element in the other/reciprocal diagram.

For example, when creating creases, it may be more intuitive to select the chain of edges of the form diagram, rather than the edges of the force diagram to set the constraints on forces (edge lengt

[2020-03-23 13:22] juney-lee opened #99 "form diagram - indeterminate boundary edges"
@brgcode we briefly discussed this once before the shutdown...

We should decide what to do about the "boundary edges", the ones going from support to support. Including these edges that have no influence on the actual structure or form is very misleading/confusing for users... and also clutters the force diagram a lot. For example, both force diagrams A and B are correct for the this form diagram

[2020-03-30 12:35] ricardoavelino opened #102 "Broken link on description/ Homepage"
**Describe the bug**
The instructions from the homepage point to a link with the "list of commands" that is broken.
 "A full list of available commands can be found _here_."

Also, I suggest add the running of the file `rui.py` as the step 8. of the dev install.

Thanks.

[2020-03-30 14:02] ricardoavelino opened #105 "Identity Supports on Pattern"
**Describe the bug**
When using the command `RV2boundaryconditions_supports` I am asked to select new vertices to mark as support of my pattern > form diagram. However this command take as input the points on the vertices of the pattern. However, these points were not created/stored in the layer `Skeleton::skeleton_vertices` so there's no easy way to, for example, mark one of the internal nodes of

[2020-04-04 09:26] juney-lee opened #107 "feet during horizontal parallelisation"
feet are always fixed... correct?

when you set alpha to 0 (which means the force diagram remains fixed), this causes angle deviations to show up above threshold... we need to either omit the feet during force-diagram-dependent parallelisation, or allow them to change also?

[2020-04-27 12:00] garvin-go opened #109 "Installing RV2"
# Couldn´t find folder directory in RV2 activation

## Details

I was trying to open the RV2.rui file in: Rhino, Toolbar Layout, File>Open and then looking in the Download folder. But instead the RV2 folder was in AppData>Local folder. Not sure if thats always the directory it gets installed after running the install.bat?

[2020-04-29 20:04] lottilotte opened #110 "installation issue: unknown command -_RV2init"
**Describe the bug**
I followed all steps of the "Getting Started" and no problems occurred, everything smooth. However, when I wanted to initialise RV2 the command was unknown. Restarting Rhino didn't help, but to run EditPythonScript once fixed the problem.

**To Reproduce**
Steps to reproduce the behavior:
1. all steps according to https://blockresearchgroup.gitbook.io/rv2/getting-started > all

[2020-05-05 11:00] #81 closed

[2020-05-05 11:00] #51 closed

[2020-05-05 11:00] #38 closed

[2020-05-05 11:00] #58 closed

[2020-05-05 11:01] #19 closed

[2020-05-05 11:01] #39 closed

[2020-05-05 11:01] #36 closed

[2020-05-05 11:02] #89 closed

[2020-05-05 11:03] #105 closed

[2020-05-05 11:04] #98 closed

[2020-05-05 11:04] #87 closed

[2020-05-05 11:04] #99 closed

[2020-05-05 11:04] #96 closed

[2020-05-05 11:05] #88 closed

[2020-05-05 11:05] #97 closed

[2020-05-05 11:05] #64 closed

[2020-05-05 11:05] #107 closed

[2020-05-05 11:05] #102 closed

[2020-05-05 11:07] #82 closed

[2020-05-05 11:07] #56 closed

[2020-05-05 11:07] #78 closed

[2020-05-05 11:07] #72 closed

[2020-05-05 11:09] #50 closed

[2020-05-05 11:09] #37 closed

[2020-05-15 08:27] Licini opened #111 "Update alpha test text to beta test in front page"

[2020-05-30 05:59] tmsmendez opened #112 "Error when initializing RV2"
**Describe the bug**
Running the initialize command throws a Python Script Error after the YES option is clicked.

The error Reads:

Traceback:
  line unknown, in <module>, "<string>"
  line 227, in start_server, "C:\Users\tmendeze\AppData\Roaming\McNeel\Rhinoceros\6.0\Plug-ins\IronPython (814d908a-e25c-493d-97e9-ee3861957f49)\settings\lib\compas_cloud\proxy.py"
  line 90, in __init__, "C:\Users\t

[2020-05-30 07:48] brgcode commented on #112
just for completeness of the report, when you say "Run the initialize command" does this mean you type the command or use the menu?

[2020-05-30 15:50] tmsmendez commented on #112
Either way, same outcome. I tried it on the bootcamp side (same windows but not on VM Ware) and it runs great. But on the VM ware virtual machine it throws that error. Also just noticed it prints some messages on the command line that might be a clue:

<img width="455" alt="Screen Shot 2020-05-30 at 8 48 35 AM" src="https://user-images.githubusercontent.com/31008721/83332876-7e683d00-a252-11ea-8f4

[2020-06-04 10:06] juney-lee opened #113 "UI - rhino toolbar"
toolbar with the main functions (or group them)

[2020-06-04 13:11] juney-lee opened #114 "user info for .rv2 session files"
provide a popup window or additional options for entering user info (and other info?) when saving .rv2 files

[2020-06-05 07:49] juney-lee opened #115 "throw explicit error messages (print)"
when some of the helper functions are not usable/applicable (i.e. corner selection or continuous edges do not (at least not yet) work for non-quad meshes)

[2020-06-08 08:57] juney-lee opened #116 "update setup/installation instructions"
under "Setup"
[https://app.gitbook.com/invite/blockresearchgroup?invite=-M8uDcBq1Knd3axqdkAC](url)

- [x] workshop requirements
- [x] updated installation instructions
- [x] FAQ (from past, known common problems)

[2020-06-08 09:02] juney-lee opened #117 "project"
Update under "Design Project":
[https://app.gitbook.com/invite/blockresearchgroup?invite=-M8uDcBq1Knd3axqdkAC](url)

- [x] project context/premise
- [x] expected deliverables (and a PDF template for the participants to submit)

[2020-06-08 09:05] #8 closed

[2020-06-08 09:05] #9 closed

[2020-06-08 09:05] #10 closed

[2020-06-08 09:05] #12 closed

[2020-06-08 09:05] #13 closed

[2020-06-08 09:05] #24 closed

[2020-06-08 09:16] juney-lee opened #118 "DF2020_setup"
Issues and tasks related to the backend, setup and installation RV2. Applicable to all tutorials.

[2020-06-08 09:18] juney-lee opened #119 "DF2020_general"
Issues related to the general improvement and development of RV2. Applicable to all tutorials.

[2020-06-08 09:19] juney-lee opened #120 "DF2020_tutorial_1"
Issues and tasks related to the first tutorial session, covering the basic RV2 workflow.

This first section provides a step-by-step tutorial of a simple example, highlighting and describing the main features of RV2. This tutorial is intended to cover the main steps of the RV2 workflow with mostly default options and settings. Detailed options and parameters will be addressed more in depth in late

[2020-06-08 09:19] juney-lee opened #121 "DF2020_tutorial_2"
Issues and tasks related to the second tutorial session, covering:

1) methods of creating patterns
2) defining boundary conditions

[2020-06-08 09:19] juney-lee opened #122 "DF2020_tutorial_3"
Issues and tasks related to the third tutorial session, covering:

1) modify the geometry of force diagrams
2) constrain force diagram edges

Explore spatial equilibrium by modifying the distribution of horizontal through the force diagram.

[2020-06-08 09:20] juney-lee opened #123 "DF2020_tutorial_4"
Issues and tasks related to the fourth tutorial session, covering:

1) interacting with the thrust diagram
2) assigning custom loads with variable thickness via COMPAS integration

[2020-06-08 09:20] juney-lee opened #124 "DF2020_tutorial_5"
Issues and tasks related to the fifth tutorial session, covering:

1) materiasation of the shell: discretisation and volumisation of the blocks

[2020-06-08 09:20] juney-lee opened #125 "DF2020_project"

[2020-06-08 09:20] juney-lee opened #126 "DF2020_admin"

[2020-06-08 09:30] juney-lee opened #127 "rv2 basics tutorial"
same as main RV2 tutorial, but simplified to just the key main functions (no specific modifications or interactions)

[2020-06-08 09:31] #126 closed

[2020-06-08 09:33] #127 closed

[2020-06-09 07:30] juney-lee opened #128 "zenhub story point system"
In traditional software project management, estimates are based on the question “How long will it take?”

In Agile, estimates are based on the question “How big is it?”

1 - reminders/todo
2 - bugs and small fixes
3 - maintenance/enhancement
5 - new feature
8 - new function
13 - example/scripts
21 - algorithm/solver
40 - new menu item

[2020-06-09 09:25] juney-lee opened #129 "pattern from skeleton"
short example/tutorial on how to use compas_skeleton (this can be the example on compas_skeleton Gitbook, or maybe a simplified version)

to be added here:
[https://app.gitbook.com/@blockresearchgroup/s/digitalfutures-2020/~/drafts/-M9NLvh2HLBG0cU9In-V/workshop-conent/session-2-force-patterns/from-skeleton](url)

[2020-06-09 09:30] juney-lee commented on #91
![Screen Shot 2020-06-09 at 11.29.20.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/33f54649-bcee-4129-9fe4-3bf2c1a617e1)

![Screen Shot 2020-06-09 at 11.29.37.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/f0d0c2a9-9e5b-4f22-938c-6f3442e9016f)

Reference example:
[https://vimeo.com/116955381](url)

[2020-06-09 09:37] juney-lee commented on #14
Basic example (British museum):
![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/fe6decc9-e9cd-43cc-939c-79eba353ca84)

An example with singularities?

[2020-06-09 09:44] juney-lee commented on #59
![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/a642210a-0990-49ae-b0cb-57af5139aeb2)

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/c10dea1a-10af-42ca-8457-7801a269c93c)

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/5c990663-249f-489e-8ca0-7897d09cf76b)

![image.png](https://images.zenhubusercontent.com/5e26f82c

[2020-06-10 09:43] juney-lee opened #130 "Modify ForceDiagram - display constrained edge(s) info"
- [ ] display dots (with fmin and fmax) when edges are being modified
- [ ] we should be able to modify the edges through either form or force diagrams

[2020-06-10 12:02] juney-lee opened #131 "move up/down thrust diagram vertices"

[2020-06-11 12:29] wenqian157 commented on #129
like a tutorial web page with images explaining each step?

[2020-06-12 08:57] juney-lee commented on #129
Tutorial section in in compas_skeleton documentation can remain there. But the examples in compas_skeleton documentation are perfect for this workshop, so let's copy them over to the workshop Gitbook. You can use the same images/gifs for now. They just need to be explained/documented using the "from skeleton" function of RV2, and not scripts.

[2020-06-12 09:31] wenqian157 commented on #129
y.. I mean how do I add it to gitbook, it isn't a rst file right?

[2020-06-12 09:38] juney-lee commented on #129
oh god no, no more rst's!

it's a web-based editor. super easy. let me know if you can't get accces:
[https://app.gitbook.com/invite/blockresearchgroup?invite=-M8uDcBohe3GC1yux6cs](url)

[2020-06-12 09:45] wenqian157 commented on #129
![image.png](https://images.zenhubusercontent.com/5e26fb3baaf6ad3f5a062193/d38c3b0c-c5aa-4f6c-927d-ed0208f7bb21)

[2020-06-12 09:46] brgcode commented on #129
zenhub is down for maintentance

[2020-06-12 09:48] brgcode commented on #129
copy the text of the link and paste in browser...

https://app.gitbook.com/invite/blockresearchgroup?invite=-M8uDcBohe3GC1yux6cs

[2020-06-12 09:52] wenqian157 commented on #129
thank you both. I can access now. any quick hint how to edit it?

[2020-06-13 07:50] juney-lee commented on #129
If you navigate to the page you want on the left side bar, and hover over the left edge of the main body of the text, it gives you all the options to insert, edit, etc.

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/b3465346-6756-4b53-8595-b39e34ca1c74)

[2020-06-13 10:31] wenqian157 commented on #129
no it doesnt? is it possible i dont have the access to editing

[2020-06-13 12:05] brgcode commented on #129
indeed, you didn't
should be okay now...

[2020-06-16 08:28] juney-lee opened #133 "DBC - add openings"
Add function for adding openings (deleting faces of a Pattern) in "Define Boundary Conditions"... this operation needs to precede "Update boundaries", which will relax the boundary edges and openings

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/549b8a92-a459-44e0-a231-8401598cc15c)

[2020-06-16 08:30] juney-lee opened #134 "Modify ThrustDiagram - move supports"
This function should only allow movement of support vertices, constrained to the z-axis

[2020-06-16 08:33] dellalex opened #135 "Proxy call failed (Opening definition)"
**Describe the bug**
In the example attached, every time I generate the openings, I get the message "proxy call failed...." and Rhino freezes. I need to force quit Rhino.
I tried it on the windows laptop and in parallel desktop on Mac (same issue). The pattern is generated from triangulation.

![Screenshot 2020-06-16 at 10.25.18.png](https://images.zenhubusercontent.com/5ee088054033482242eec8d7/3f

[2020-06-16 08:34] juney-lee opened #136 "ForceDiagram - scale vertices"
1. Modify ForceDiagram
2. Scale vertices (should give option for 1D or 2D)

[2020-06-16 08:35] brgcode commented on #135
can you send me the diagram?
there seems to be something weird with openings 3, 4, 5...

[2020-06-16 08:35] juney-lee opened #137 "DBC - provide same sag % option for all boundaries"

[2020-06-16 08:37] #129 closed

[2020-06-16 08:37] #91 closed

[2020-06-16 08:40] #131 closed

[2020-06-16 08:45] dellalex commented on #135
[https://app.zenhub.com/files/220851585/90ed82f4-793b-4640-bc59-e1b4c10f1c5b/download](https://app.zenhub.com/files/220851585/90ed82f4-793b-4640-bc59-e1b4c10f1c5b/download)

[2020-06-16 08:46] juney-lee opened #138 "Create Pattern - from polysurfaces"
classic RV function: Create pattern (quad-mesh) from polysurfaces (non-trimmed)

add interactive subdivision option per edge

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/aa7f0b0c-e5d6-436a-b5b6-ebf59167f111)

[2020-06-16 08:53] juney-lee commented on #133
Maybe change "Update boundaries" to "Relax pattern"

[2020-06-16 09:39] dellalex opened #139 "Modify ThrustDiagram - move supports vertically"
The only way I found to move vertices vertically is from the menu "Modify form diagram>Modify Vertices". The other function "Move Vertices" works only in the XY plane.
When I click on Modify Verticise I get the message "Select All, Continuos, ESC". (See screenshot).
![Screenshot 2020-06-16 at 11.24.54.png](https://images.zenhubusercontent.com/5ee088054033482242eec8d7/9048f149-6ce7-4731-a2ff-4e6625

[2020-06-16 10:09] Licini commented on #135
@brgcode So the dr_numpy was trapped in a infinite loop in for this shape, should we set a maximum iteration limit there?
![image](https://user-images.githubusercontent.com/17893605/84761599-ed22f580-afc9-11ea-9494-741760369411.png)

[2020-06-16 10:12] brgcode commented on #135
yes absolutely. and keep the maximum number quite low. perhaps we should also let the user now about convergence...

[2020-06-16 10:14] brgcode commented on #135
also, this was just my first naive attempt at this. a more sophisticated implementation would be useful :)

[2020-06-16 10:21] #134 closed

[2020-06-16 10:37] Licini commented on #135
OK adding a limit of 10 iterations, and will prints out info about convergence
![image](https://user-images.githubusercontent.com/17893605/84764387-edbd8b00-afcd-11ea-8419-e4da8e50a6b5.png)
![image](https://user-images.githubusercontent.com/17893605/84764418-fd3cd400-afcd-11ea-992f-c5613b66249f.png)

[2020-06-16 10:47] brgcode commented on #135
info about convergence could just be whether or not max iter has been reached...

[2020-06-16 10:48] brgcode commented on #135
3 and 4 still look weird...

[2020-06-16 10:49] brgcode commented on #135
perhaps we could add the option to control the boundary openings geometrically and afterwards compute internal horizontal with boundaries fixed

[2020-06-16 10:51] brgcode commented on #135
or we use the RV approach and basically push out the vertices of the force diagram corresponding to the parabola rule and parallelise the form afterwards...

[2020-06-16 10:56] Licini commented on #135
It become like this when I relax those edges separately. Seems something weird going on when there is only one vertex on edge
![image](https://user-images.githubusercontent.com/17893605/84766148-9c62cb00-afd0-11ea-92d9-d8c4c026d075.png)

[2020-06-16 10:57] brgcode commented on #135
perhaps there should be some kind of warning system when there are weird artifacts in the diagram. openings with only one vertex don't really make sense...

[2020-06-16 10:58] brgcode commented on #135
@juney-lee see above

[2020-06-16 12:09] dellalex commented on #135
I think an "if statement" needs to be added in the generation of the pattern. In that particular case, the distance between the two supports is around 11mt and the spacing of the triangulation is 5mt. That's why there is only one point. I don't know if that's something the user should manage or the software automatically. This is a gigantic shell, and it's not a good example. If I increase the den

[2020-06-16 12:11] brgcode commented on #135
if you increase the density, horizontal equilibrium fails?

[2020-06-16 12:21] dellalex commented on #135
yes, it happened a couple of times. proxy call.....

[2020-06-16 12:55] brgcode commented on #135
and if you run it again it works? or it simply doesn't?

[2020-06-16 13:46] dellalex opened #140 "n˚of iterations for horizontal equilibrium"
**Describe the bug**
Rhino freezes if with a dense pattern I directly run the horizontal equilibrium with a high n˚ of iterations (e.g 1000).

[2020-06-16 14:13] dellalex commented on #140
This now happened even with only 200 iterations.

![Screenshot 2020-06-16 at 16.12.08.png](https://images.zenhubusercontent.com/5ee088054033482242eec8d7/fad065ac-306d-4db9-af0c-32e9edcff353)

[2020-06-17 10:38] robin-oval commented on #14
does it work? do I need to modify something?

[2020-06-17 11:14] juney-lee commented on #14
Could you add a short, simple example on Gitbook, with a few screenshots and little bit of text?

Under: Tutorial 2 >>> Create pattern >>> Pattern from boundary
[https://app.gitbook.com/invite/blockresearchgroup?invite=-M8uDcBq1Knd3axqdkAC](url)

[2020-06-17 11:20] robin-oval commented on #14
do I have access to Gitbook? I only have access to Github and Zenhub I think

[2020-06-17 11:21] juney-lee commented on #14
that link above should be an invite to new users... let me know if it doesn't work

[2020-06-17 11:22] robin-oval commented on #14
it redirects me to https://github.com/BlockResearchGroup/compas-RV2/issues/url

[2020-06-17 11:25] juney-lee commented on #14
yes indeed.... weird. copy and paste the link, that seems to work?

[2020-06-17 11:29] robin-oval commented on #14
it does

[2020-06-17 11:54] juney-lee commented on #14
This would be a single function in: https://github.com/BlockResearchGroup/compas-RV2/tree/master/ui/Rhino/RV2/dev

as...

RV2pattern_from_features.py (or whatever you want to call it)

[2020-06-17 16:00] robin-oval commented on #14
once I have a new ..._cmd.py, do I have to update automatically or manually other documents in the UI folder to test on my side?

[2020-06-17 17:47] #92 closed

[2020-06-17 17:48] juney-lee opened #141 "proxy/cloud-independent implementation of the solvers"

[2020-06-18 08:07] juney-lee commented on #14
No, ...cmd.py is good! I will test it let you know if I have any problems. Thanks, Robin!

[2020-06-18 08:24] juney-lee commented on #14
Please do add a few screenshots/text in Gitbook though, if you have time. Mostly for myself, but maybe also for the actual workshop too.

[2020-06-18 08:29] juney-lee opened #142 "compas integration - materialisation"
Materialising thrust diagrams with variable thickness (more realistic loading case) via compas integration.

[2020-06-18 09:21] robin-oval commented on #14
does it work on Mac?

[2020-06-18 11:05] brgcode commented on #14
gitbook? it is completely web-based...

[2020-06-18 11:52] brgcode commented on #14
those command files can be run as scripts. so basically while debugging (after init-ing RV2) you can run the command by executing the script, without necessarily already integrating it in the menu or toolbar...

[2020-06-18 13:09] robin-oval commented on #14
alright. I got an error that I didn't understand when running RV2init_cmd.py
<img width="417" alt="Screenshot 2020-06-18 at 14 08 10" src="https://user-images.githubusercontent.com/34314884/85023961-4c6d3b00-b16d-11ea-8701-af07469f3003.png">

[2020-06-18 13:24] brgcode commented on #14
ha sorry, yes, indeed the electron thing will not work with this procedure. will have a look and get back to you...

[2020-06-18 14:05] robin-oval commented on #14
thanks

[2020-06-19 14:02] juney-lee commented on #14
@robin-oval I am testing out the function. There seems to be some bugs in `Pattern.from_surface_and_features`?

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/c8ff310e-ff3b-4894-a26e-8a3b6cb350b0)

[2020-06-19 15:01] robin-oval commented on #14
I forgot to update the input names. this is fixed now

[2020-06-20 09:32] juney-lee commented on #14
@robin-oval @brgcode I added RV2pattern_from_features_cmd to the menu. Can you guys see if it works? I am still getting simple import errors like this.

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/41157e53-0605-419d-89e9-7d0d6772dd57)

[2020-06-20 16:57] brgcode commented on #14
an error like this simply means that the algorithm does not have conditional imports related to Rhino...

[2020-06-20 21:22] juney-lee commented on #14
Okay, I was able to get some results when I switched the `src` argument to `'numpy_rpc`... but this seems to start a new proxy server every time I run this command? Ideal? Why not just always use delaunay_compas?

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/1bad807d-2da7-459c-95a8-bd42e859a46d)

@robin-oval could you send me a short step-by-step procedure (or post to

[2020-06-22 09:17] #113 closed

[2020-06-22 10:59] juney-lee commented on #137
[Uploading... image.png ]

[2020-06-22 11:00] juney-lee commented on #137
Added:
![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/99070a2f-5d7f-46a2-ab93-ffab49888de8)

[2020-06-22 12:40] juney-lee commented on #137
@brgcode Just realized this doesn't work for interior openings (i.e. holes)... Will need to provide a manual q-assignemting mechanism for the interior openings, then relax everything at the same time.

[2020-06-23 12:43] juney-lee opened #143 "change "show" to "toggle" in analysis"

[2020-06-23 12:47] juney-lee opened #144 "change order of tabs in object settings"
add RV2 global settings tab

skeleton
pattern
form
force
thrust

[2020-06-23 12:51] juney-lee opened #145 "move color analysis toggle out of formdiagram/forcediagram attributes"
move to global rv2 setting

[2020-06-23 12:53] juney-lee opened #146 "global rv2 toggle for inspector"
this feature dynamically draws the corresponding elements in the other diagram(s)

[2020-06-23 12:55] juney-lee opened #147 "clear all command"
add function for clearing the rv2 scene (everything including all the datastructure and layers)

maybe this will need "yes or cancel" popup window?

[2020-06-23 12:59] juney-lee opened #148 "purge all unused setting items"

[2020-06-23 13:02] juney-lee opened #149 "remove analysis/extensions from menu"
toggle pipes/show colors to object settings

[2020-06-23 13:04] juney-lee opened #150 "combine all settings into one function"
move solver settings a tab to object settings, then rename it to simply "Settings"

[2020-06-23 13:54] juney-lee opened #151 "smoothing functions for form/force diagrams"

[2020-06-23 14:13] robin-oval commented on #14
smoothing is included and I added some documentation for two examples, without and with point features
let me know if there's something missing/not working (I couldn't try on my Mac)
let me know when it works on Mac or when I can directly run the ..._cmd.py scripts :)

[2020-06-23 14:37] juney-lee opened #152 "remove define loads from DBC toolbar button"

[2020-06-23 14:39] juney-lee opened #153 "cleanup toolbar"

[2020-06-23 14:53] juney-lee opened #154 "ability to adjust sags to the form diagram"

[2020-06-23 15:08] duchaoyu opened #155 "create pattern - from features bug"
![image](https://user-images.githubusercontent.com/43376817/85420872-0bfa2c80-b574-11ea-9b17-f1910dda6b86.png)

[2020-06-23 15:17] juney-lee opened #156 "show or delete thrust diagram when vertical equilibrium is not satisfied"

[2020-06-23 15:21] juney-lee opened #157 "set Hmin and Hmax on the force diagram"

[2020-06-23 15:24] juney-lee commented on #157
modify edge attributes in force diagram should also allow users to change:
Hmin, Hmax
Qmin, Qmax

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/07d6b4b3-eaf4-4671-851c-be882247ba34)

[2020-06-23 15:46] #141 closed

[2020-06-23 15:47] robin-oval commented on #155
try again now with the latest singular commits?

[2020-06-23 15:52] juney-lee commented on #153
check names, imports

[2020-06-23 15:52] #140 closed

[2020-06-23 15:56] #137 closed

[2020-06-23 15:57] juney-lee opened #158 "keep track of guide/constraining objects (guids)"

[2020-06-23 15:59] juney-lee opened #159 "openings"
always keep fixed? when to relax?

[2020-06-24 07:49] #111 closed

[2020-06-24 10:22] #144 closed

[2020-06-24 17:29] dellalex opened #160 "Pattern from features - overlapping edges"
The generated mesh is nicely shaped around the circles only on one side of them. On the other side, the edges overlap.

![Screenshot 2020-06-24 at 19.24.06.png](https://images.zenhubusercontent.com/5ee088054033482242eec8d7/511297fa-9577-4b7d-8799-1ea17a40cac7)

[2020-06-25 09:17] brgcode commented on #160
@robin-oval there seems to be something wrong with the connectivity around the openings...

[2020-06-25 09:20] brgcode commented on #157
this is done.

on the form diagram, the user can set Hmin and Hmax (which influences the force diagram) and Lmin and Lmax (this influences the form diagram)

on the force diagram, the user can set Lmin and Lmax (this influences the force diagram).

the difference between Hmin/Hmax (formdiagram) and Lmin/Lmax (forcediagram) is the scale factor. this is taken into account automatically...

[2020-06-25 09:20] #157 closed

[2020-06-25 09:22] brgcode commented on #80
this is done for the force diagram during parallelisation.
don't think it makes sense for the form diagram but will see if i can add it as well.
for vertical it is not available...

[2020-06-25 09:22] brgcode commented on #115
this is no longer relevant

[2020-06-25 09:22] #115 closed

[2020-06-25 09:23] brgcode commented on #135
@dellalex is this solved?

[2020-06-25 09:44] robin-oval commented on #160
The connectivity is fine. But Laplacian smoothing can cause these geometrical overlaps, if not done for a sufficient number of iterations or if the relaxation/equilibrium drives the mesh over the boundaries.
Try with 100 iterations to see if it solves it. Try then with 0 iterations and use the Laplacian smoothing in RV, to compare.
What I can do is to remove the Laplacian smoothing but do a densif

[2020-06-25 09:55] dellalex commented on #135
@brgcode yes solved!

[2020-06-25 09:59] brgcode commented on #160
@dellalex can you give me the required parameters to reproduce this?

[2020-06-25 09:59] #135 closed

[2020-06-25 10:04] #143 closed

[2020-06-25 10:06] robin-oval commented on #160
I'll write something so that the densification occurs on a polysurface subdivision instead of a coarse mesh subdivision of the input surface. Like this, the pattern will be directly aligned with the boundary.

[2020-06-25 10:12] #145 closed

[2020-06-25 10:13] #147 closed

[2020-06-25 10:22] #148 closed

[2020-06-25 10:22] #150 closed

[2020-06-25 10:24] brgcode commented on #160
@robin-oval is it not better to use area-based smoothing in general?

[2020-06-25 10:29] dellalex commented on #160
Create a pattern from features and then use 2 as edge length. For the Laplacian iterations I tried 50 (default) and 200.
[https://app.zenhub.com/files/220851585/e19da773-e5ac-4d4f-81f4-eef9407f2f52/download](https://app.zenhub.com/files/220851585/e19da773-e5ac-4d4f-81f4-eef9407f2f52/download)

[2020-06-25 10:34] robin-oval commented on #160
Yes, that's area-based Laplacian smoothing

[2020-06-25 11:49] dellalex opened #161 "Key Error - create form diagram"
When I use a certain outline I get this error message (picture below). In the next picture, you can see different variations of the same outline that still give me the same error. The arrows point to the area where I have modified the outline compared to the initial one. Only the outline on the right works.
![Screenshot 2020-06-25 at 13.45.27.png](https://images.zenhubusercontent.com/5ee0880540334

[2020-06-25 11:52] dellalex opened #162 "Triangulation not following the inner polygon"
In this case, the triangulation works well around the circle but not around the polygon on the left.
![Screenshot 2020-06-25 at 11.21.34.png](https://images.zenhubusercontent.com/5ee088054033482242eec8d7/b0201429-59f9-45de-8d6b-57094c2d248c)

[2020-06-25 13:44] brgcode commented on #149
i have removed the analysis options bu not the menu entry. visual reminder that more stuff is to come!

[2020-06-25 13:44] #149 closed

[2020-06-25 13:58] #80 closed

[2020-06-25 17:41] brgcode commented on #162
weird, for me this works...![Screenshot 2020-06-25 at 19.40.35 (2).png](https://images.zenhubusercontent.com/5e1efdc10fe8593911d1d506/35dbbff3-fcf4-4a05-ad7a-ebefe0dda5ff)

[2020-06-25 17:41] brgcode commented on #162
@dellalex could you check again?

[2020-06-25 18:24] brgcode commented on #161
problem was related to carrying over info from pattern to form

[2020-06-25 18:24] #161 closed

[2020-06-25 18:25] brgcode commented on #162
as far as i can tell this is solved...

[2020-06-25 18:25] #162 closed

[2020-06-25 18:37] brgcode commented on #160
@robin-oval why does the pattern generation need a proxy? is it for the smoothing? can you not just use a Python based implementation? will probably be faster...

it is also a bit problematic that it starts a different server than the one already launched by RV2...

[2020-06-25 18:42] brgcode commented on #160
something else must be wrong though. i get this...

![Screenshot 2020-06-25 at 20.41.41 (2).png](https://images.zenhubusercontent.com/5e1efdc10fe8593911d1d506/9c2007ba-41da-4f67-acd0-e9588b1e809b)

[2020-06-25 19:44] brgcode commented on #158
done. however only for pattern and it doesn't capture points that were added afterwards...

[2020-06-25 19:44] #158 closed

[2020-06-25 20:53] brgcode commented on #139
done

[2020-06-25 20:53] #139 closed

[2020-06-25 21:06] #153 closed

[2020-06-25 21:11] #112 closed

[2020-06-25 21:11] #110 closed

[2020-06-25 21:12] #109 closed

[2020-06-25 21:29] robin-oval commented on #160
I use the proxy for the Delaunay triangulation of bumpy, which is really fast and robust. The one from compas is not so robust but it can be used by changing the input src to 'compas' in the function boundary_triangulation.

[2020-06-25 21:31] robin-oval commented on #160
That one looks quite wrong, yes. What does it look like without smoothing?
Still trying to fix something but I'm almost done with the enhanced densification that will only require some light smoothing.

[2020-06-25 21:58] brgcode commented on #160
the problem is not that you use numpy/rpc, but rather that you start a separate server. would it be possible to use the proxy of `compas_cloud` instead?

basically, you would have to call your numpy algorithm through the rv2 proxy in the command script, instead of running your own RPC server from inside your package function.

something like

[code]
and something similar for the other functions th

[2020-06-25 23:49] #152 closed

[2020-06-25 23:50] #159 closed

[2020-06-26 11:59] robin-oval commented on #160
can you try again now, with the commits I made for compas_rv2 and singular, with 0 iterations for smoothing? the densification should follow the input surface

<img width="797" alt="Screenshot 2020-06-26 at 12 55 38" src="https://user-images.githubusercontent.com/34314884/85854701-cc6a5500-b7ac-11ea-8780-1d469626cca2.png">

<img width="797" alt="Screenshot 2020-06-26 at 12 55 57" src="https://user

[2020-06-26 16:18] juney-lee commented on #160
Has this been resolved? I am still getting simple errors like this:

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/47091d3b-31a1-4a79-b64a-e167e2f5dced)

[2020-06-26 16:34] juney-lee opened #163 "toggle anchors through the vertices of the thrust diagram"
When the user wants to convert a vertex of the thrust diagram into an anchor, it would be more intuitive to turn the vertices on in the thrust diagram and use those vertices for selection/un-selection... so "Modify Thrust Diagram" >>> "Modify vertices attibutes" or simply "Toggle anchors"

Currently, in order to do this, you select the vertices through the form diagram ("Modify form diagram" >>> "

[2020-06-27 06:57] juney-lee commented on #160
ah sorry! yes, of course. seems to be working well.

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/0a40e47c-a190-4a93-84a5-44a4ff3e601c)

no curve features?

could you remove the drawing of the skeleton?

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/53b96f05-3d62-4057-be20-585a01707357)

[2020-06-27 07:19] juney-lee commented on #160
https://www.dropbox.com/s/uup412io7cmroow/from_features_example.3dm?dl=0

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/12cd8071-dd78-498f-b545-f86251e1df7e)

[2020-06-27 12:40] robin-oval commented on #160
I don't have time for the curve features for the moment.

I messed up with the scene clear/add/update. I changed it back so the curves are not added. I wanted the scene to be updated so that the user can see the pattern before smoothing and decide on the number of smoothing iterations. What would be the correct commands?

[2020-06-27 13:22] robin-oval commented on #160
The new error comes from the informed densification. I would need more time to make it completely robust but it can be fixed by improving the refinement of the boundaries. Try again with the latest commit where I changed the subdivision from 3% to 1%. It takes more time but it's still reasonable, for the moment.

[2020-06-28 17:28] brgcode commented on #163
done.
however, vertex visibility between form and thrust is a bit complicated.
only straightforward solution is to turn off ALL thrust vertices by default and to turn them on when modifying or moving thrust vertices (while turning the form ones off on the fly).

perhaps start new issue if this is a concern...

[2020-06-28 17:28] #163 closed

[2020-06-28 21:14] juney-lee commented on #156
simply running vertical again will redraw it... but it would be nice to immediately display them as red after a successful modification of form/force/thrust diagram, if still possible...

screenshot from RV1
![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/3d5ab01b-ac09-4650-8aaa-d698521c4c9d)

[2020-06-28 21:15] juney-lee opened #164 "pattern object has no attribute 'continuous_vertices'"
in "modify pattern" >>> "move vertices" >>> "continuous"

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/85fc2b05-1a4a-454d-ab91-1a2f5bedf246)

[2020-06-28 21:20] #155 closed

[2020-06-28 21:21] brgcode commented on #164
i think you have an old version of the code. just tried and for me it works...

[2020-06-28 21:21] brgcode commented on #164
![Screenshot 2020-06-28 at 23.21.36 (2).png](https://images.zenhubusercontent.com/5e1efdc10fe8593911d1d506/4da3811d-43af-45bc-86a5-95bd854dcbc5)

[2020-06-28 21:26] brgcode commented on #154
this is now possible through form relax

[2020-06-28 21:26] #154 closed

[2020-06-28 21:43] juney-lee opened #165 "settings window (via toolbar) always appears behind the rhino window"
... so you have to decrease the size of the Rhino window to see the settings window.

but when settings is selected through the menu, it is always on top...

[2020-06-28 22:18] brgcode commented on #156
[Uploading... Screenshot 2020-06-29 at 00.17.24 (2).png ]

[2020-06-28 22:23] juney-lee opened #166 "update boundaries error"
update boundaries sometimes throws this error...

you can just keep running it though, and it works. just annoying to have these pop ups.

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/c8c48ba9-35a3-4cf2-8a33-b71b90fb4cce)

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/4337f6cb-4b9c-42d7-a229-c63deceefc96)

[2020-06-28 22:47] juney-lee opened #167 "modify form diagram >>> smooth >>> set boundary vertices fixed"
most cases, we want to fix all boundary vertices when smoothing... however, the non-anchor vertices on the boundary of the form diagram are not being recognized, probably because of the boundary/fictitious faces we add?

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/0983c24f-56e4-4d61-bcde-ae10154e0215)

[2020-06-28 22:54] juney-lee opened #168 "Modify ThrustDiagram >>> Modify Vertices"
changing a vertex to an anchor via this command in the ThrustDiagram doesn't seem to update the attribute in the form diagram (the parent diagram)? so when you redraw the ThrustDiagram, the anchor is not drawn.

[2020-06-28 22:57] juney-lee commented on #168
also, when a vertex of the form diagram has been changed to an anchor, the anchor is not being drawn in the ThrustDiagram.

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/f1935f66-56f0-40c2-bea0-a9734fd20873)

[2020-06-28 23:20] brgcode commented on #168
thrust anchors are now always shown.
thrust free vertices are only shown when modifying thrust vertices
only anchors are shown during thrust move supports.

[2020-06-28 23:27] brgcode commented on #167
if we decide to put back form smoothing this should now be fixed.

[2020-06-28 23:28] brgcode commented on #166
also happened to me once.
just ran command again and all was fine though.
as far as i can tell this is a cloud problem...

[2020-06-28 23:29] brgcode commented on #165
i also had this at some point, but does not happen anymore.
also seems only to happen on parallels...

[2020-06-28 23:29] brgcode commented on #164
this is now solved

[2020-06-28 23:30] brgcode commented on #156
this should now work.
made the color light green (the red is ugly...)

[2020-06-28 23:53] juney-lee commented on #167
added the smooth functions back... i think it could be useful.

smooth function with "keep all boundaries fixed" set to True, for:

- pattern (works)
- form (does not work (ignores vertices on the boundary that are not anchors)

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/cfaf7c53-88f9-45f7-a6ff-acd6a9410309)

[2020-06-28 23:54] juney-lee commented on #167
sorry, i need to pull!

[2020-06-29 00:18] juney-lee commented on #168
If i change the vertices of the ThrustDiagram to anchors, does this attribute also need to get updated in the FormDiagram? if i run vertical again after, it doesn't remember my vertex attribute change in the Thrust diagram (doesn't draw the residual/reaction forces or the red point).

The new anchors were not being displayed because the ThrustDiagram vertices are turned off by default... swithced

[2020-06-29 00:19] #156 closed

[2020-06-29 00:19] juney-lee commented on #151
smooth/relax for forcediagram to come in the future...

[2020-06-29 00:19] #151 closed

[2020-06-29 00:20] juney-lee commented on #167
works fine!

[2020-06-29 00:20] #167 closed

[2020-06-29 05:55] brgcode commented on #168
the problem was indeed just that the form diagram didn't get updated...

[2020-06-29 05:58] #168 closed

[2020-06-29 05:59] #164 closed

[2020-06-29 06:00] #116 closed

[2020-06-29 06:01] brgcode commented on #133
temporarily superseded by pattern modification functions

[2020-06-29 06:01] #133 closed

[2020-06-29 06:04] brgcode commented on #14
@Licini can you check what needs to be done to make it work on mac as well?

perhaps we need to add a separate init file for mac for debugging that can be run as a script? all other commands can, so i have the feeling this might be related to the elektron splash screen...

[2020-06-29 11:55] florian-ro opened #169 "Unknown Command : -RV2init"
Hello,

The installation of RV2 went all well but i can initialize it.

I got this message : Unknown Command : -RV2init

Thanks

[2020-06-29 11:58] brgcode commented on #169
- open Rhino
- open the RhinoPythonScriptEditor (type `EditPythonScript`)
- restart Rhino
- try again

[2020-06-29 11:59] florian-ro commented on #169
Yeah, meanwhile i just tried that and it works ! thanks

[2020-06-29 12:00] #169 closed

[2020-06-29 12:54] reiansal opened #170 "Initialization of RV2 fails"
**Describe the bug**
The installation of RV2 is succesfull but I can initialize it in Rhino. Got Unknown command when trying to initialize.

**Screenshots**
![image](https://user-images.githubusercontent.com/64812384/86007825-f5295f00-b9e5-11ea-8f2c-a688f13909a5.png)

**Desktop (please complete the following information):**
 - OS: win10 pro V 1909
 - Python version: 3.7.6
 - Python package manager

[2020-06-29 12:56] brgcode commented on #170
Type `EditPythonScript` to open the Python ScriptEditor in Rhino. Then restart Rhino and try initialising again...

[2020-06-29 13:03] krittikawalia commented on #170
I faced the same issue. Now it works. Thankyou !

[2020-06-29 13:05] reiansal commented on #170
Thanks that solves the problem

[2020-06-29 13:45] ilariatommasi opened #171 "error during the installation of RV2"
Hi,
when I run the RhinoVault2 Setup 1.0.0.exe file in the downloaded folder, I have this error:

![error](https://user-images.githubusercontent.com/67589919/86011972-ab5c6b00-ba1d-11ea-8538-e5fbfdcc923a.JPG)
in english:
"error opening file for writing
"C: ..."
select 'Finish' to interrupt the installation,
'Retry' to retry, or
'Ignore' to jump this file."

If I do retry nothing change.
I tried to

[2020-06-29 15:24] brgcode commented on #171
@Licini ping...

[2020-06-29 16:17] f137000 opened #172 "initialization step fails-Rhino Vault 2.0"
**Describe the bug**
initialization step fails

**To Reproduce**
Steps to reproduce the behavior:
1. Context [e.g. ST3, Rhino, Blender, ...]
2. Sample script
3. Sample data
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following informa

[2020-06-29 17:13] ilariatommasi commented on #171
That problem is just solved (I had to reboot the system).

But during the initialization the antivirus (AVAST) blocked pythonw.exe, because infected by IDP.Generic

Everithing safe?

[2020-06-29 17:20] #171 closed

[2020-06-29 17:30] Ibrahim2595 opened #173 "RV2init Failed to initialize"
It says unknown command when trying to initialize RV2

[2020-06-29 17:40] reiansal commented on #172
Check https://github.com/BlockResearchGroup/compas-RV2/issues/170
that solved the problem for me

[2020-06-29 17:41] reiansal commented on #173
Check #170
that solved the problem for me

[2020-06-29 17:43] brgcode commented on #173
https://blockresearchgroup.gitbook.io/digitalfutures-2020/setup/faq#usage

[2020-06-29 17:46] brgcode commented on #173
https://blockresearchgroup.gitbook.io/digitalfutures-2020/setup/installation#0-preparation

[2020-06-29 17:50] brgcode commented on #173
as stated in the install instructions: if you get this error, please open Rhino and type `EditPythonScript` to open the script editor. restart Rhino and run init again...

[2020-06-29 22:56] alejandrogarciagadea commented on #173
i tried this but even if running editpythonscript again it doesnt work...

command: e_RV2init
Unknown command: -_RV2Init

[2020-06-29 22:58] alejandrogarciagadea commented on #170
i tried this but even if running editpythonscript again it doesnt work...

command: e_RV2init
Unknown command: -_RV2Init

[2020-06-30 04:54] anujmittal15 opened #174 "move_skeleton_vertices produces error"
**Describe the bug**
When I try CreatePattern/FromSkeleton, the option of editing the skeleton vertices produces an error " 'Frame' object has no attribute 'to_world_coords'

**To Reproduce**
Steps to reproduce the behavior:
1. Create Lines
2. CreatePattern/From Skeleton
3. move_skeletop_vertices
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/35262756/86084574-dcd

[2020-06-30 07:42] brgcode commented on #173
@Licini ping...

[2020-06-30 08:56] wenqian157 commented on #174
the name 'to_world_coords' has been changed to 'to_world_coordinates' in the latest version of compas. Just fixed it, update skeleton should solve the issue

[2020-06-30 08:56] #174 closed

[2020-06-30 09:02] wesamasali opened #175 "Python script error"
After the installation was successful. RV2 can not be initiated, getting this message.

![image](https://user-images.githubusercontent.com/46022562/86106507-ebc0f500-bac0-11ea-9c68-bf9fe78c6423.png)
Traceback:

  line unknown, in <module>, "<string>"
  line 245, in start_server, "C:\Users\EliteBook720\AppData\Roaming\McNeel\Rhinoceros\6.0\Plug-ins\IronPython (814d908a-e25c-493d-97e9-ee3861957f49)\

[2020-06-30 10:18] brgcode commented on #175
@Licini ping...

[2020-06-30 10:32] KEERTHANAUDAY commented on #173
@alejandrogarciagadea
Its possible that you might have a some other broken rhino plug in that is causing this issue.

check the folder:
C:\Users\ukeer\AppData\Roaming\McNeel\Rhinoceros\6.0\Plug-ins\PythonPlugins

and simply delete the broken plugin and then retry the initialization.

hope this helps.

[2020-06-30 15:56] archz2 opened #176 "Problem in create pattern from surface"
When I select a surface using the create pattern option and set uv to default 10,10, I am getting the following error.

![issue1](https://user-images.githubusercontent.com/66735186/86148454-433e7f80-bb18-11ea-9e37-1e216c2a0845.png)

What should I do to resolve this issue?

**Desktop (please complete the following information):**
 - OS: Windows 10 (v1909, 64 bit)
 - Python version - 3.7.8rc1
 - Pyt

[2020-06-30 18:01] brgcode commented on #176
when you have rhino open and then open a new file, for some reason the Python interpreter gets confused and tries to draw things in the previous file.

just restart rhino and all will be fine...

[2020-06-30 18:03] brgcode commented on #173
is this solved?

[2020-06-30 18:04] brgcode commented on #172
is this solved?

[2020-06-30 18:10] archz2 commented on #176
Thanks for replying. Before I saw your message, I installed Python 3.83 directly via the official installer and started Rhino. Then the process of choosing surface and generating pattern went absolutely fine as it should be.

[2020-06-30 18:10] #176 closed

[2020-06-30 18:11] brgcode commented on #170
is this now solved?

[2020-06-30 19:58] danben90 opened #177 "Skeleton errors"
Hey everyone,

I get the following error if I try to use move_skeleton_vertices after I created the inital skeleton mesh:
![01](https://user-images.githubusercontent.com/51261749/86170276-2b1c2f80-bb1b-11ea-8300-6e56ddc9ad1d.PNG)

How to reproduce:
1. Draw Lines (I drew Polylines & exploded them)
2. Start Create Pattern from Skeleton
3. Use any mesh wdith settings
4. Choose move skeleton_vertices

[2020-06-30 20:00] brgcode commented on #177
have you tried updating `compas_skeleton` to the latest version?
i believe this bug was fixed in the late afternoon today...

@wenqian157

[2020-06-30 20:19] danben90 commented on #177
Thank you for the fast reply.
Yes, updating compas_skeleton fixed the first error regarding move_skeleton_vertices.
The other error regarding move_coarse_mesh_corner_vertices is still there.

[2020-06-30 20:21] brgcode commented on #177
@wenqian could you have a look please?

[2020-07-01 00:34] alejandrogarciagadea commented on #173
i tried this and didnt wornk, ive tried several location to save RV2 but didnt worm either...
when installing again realized about this error.... any insights?

![image](https://user-images.githubusercontent.com/34581827/86189963-f5873e80-bb3a-11ea-8641-be10a449c529.png)

[2020-07-01 01:02] jowcharly commented on #175
_Traceback:
  line unknown, in <module>, "<string>"
  line 255, in start_server, "C:\Users\Charlese\AppData\Roaming\McNeel\Rhinoceros\6.0\Plug-ins\IronPython (814d908a-e25c-493d-97e9-ee3861957f49)\settings\lib\compas_cloud\proxy.py"
  line 98, in __init__, "C:\Users\Charlese\AppData\Roaming\McNeel\Rhinoceros\6.0\Plug-ins\IronPython (814d908a-e25c-493d-97e9-ee3861957f49)\settings\lib\compas_cloud\p

[2020-07-01 05:45] brgcode commented on #173
@Licini

perhaps it is nothing, but i noticed you have a weird username in your path
[code]
can you confirm that this path actually exists?

[2020-07-01 05:51] juney-lee opened #178 "from lines"
Even when a Pattern is not successfully made, it prints 'Pattern object successfully created.' Basically, if the delete_boundary_faces option results in a Pattern with no faces, it should delete the Pattern object and print something like 'Faces not found in the network of lines; Pattern object was not created.'

[2020-07-01 06:48] wenqian157 commented on #177
y currently it is an issue. what would be the right response if user press escape?  back to selecting editing method again?

[2020-07-01 07:12] brgcode commented on #177
depends. if this is part of a multi-level while loop, ESC would break out the current level and go back up...

[2020-07-01 07:24] juney-lee opened #179 "modify pattern edges"
minor key error

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/761120b0-ca63-468d-a2bb-616731cb9aaf)

[2020-07-01 13:32] juney-lee opened #180 "2D scale vertices"
add to modify force diagram

[2020-07-01 15:43] Licini commented on #173
Hey @alejandrogarciagadea did you click yes when asked about user control?  If yes, it's likely to be the weird part of user name in your path. Can you confirm your user name is indeed  ` ```cbnm` ?

[2020-07-01 16:00] Licini commented on #166
The error log indicates that an os error 22 was thrown at the line `print('finished in: %fs'%t)`  which is really weird. Perhaps the string was formatted into something invalid to print.... I gonna just comment out this line to avoid this for now.

[2020-07-01 16:07] Licini commented on #175
Hi, @wesamasali @jowcharly   Looks like the compas_cloud server has problems to start on your computer, could you guys open cmd and try to run `YOUR_RV2_LOCATION\RV2\dev\env\python -m compas_cloud.server` to see if it can run without throwing error ?

[2020-07-01 16:08] Licini commented on #165
This is actually known problem to me as well. Need to find a way to have ETO form stay on top correctly

[2020-07-01 16:11] Licini commented on #170
For any other people who still have the error after run `EditPythonScript` and restart rhino. This answer should eventually solve the prolem https://github.com/BlockResearchGroup/compas-RV2/issues/173#issuecomment-651709413
Basically you might have a broken plugin installed previously, which could prevent correct command registration for all other python plugin.

[2020-07-01 18:15] brgcode commented on #166
works for me

[2020-07-01 18:16] brgcode commented on #165
perhaps we should file a bug with the Rhino guys or the Eto guys?

[2020-07-01 18:42] alejandrogarciagadea commented on #173
Yep this is what i thought as well..i was looking into how to change
that but looks like a nightmare in windows, so i was hoping there was some
other way

On Wed, Jul 1, 2020 at 4:44 PM Li <notifications@github.com> wrote:

--

Senior Architect at Zaha Hadid Architects

ARB | MArch AADRL | BArch

*T*[UK]: +44 7542335088

[2020-07-01 19:13] brgcode commented on #173
but so just to confirm, your username is indeed ` ```cbnm `?!

[2020-07-01 19:14] alejandrogarciagadea commented on #173
Yes thats right, and didnt give me any issue so far but i know is not
ideal...

On Wed, Jul 1, 2020 at 8:13 PM Tom Van Mele <notifications@github.com>
wrote:

--

Senior Architect at Zaha Hadid Architects

ARB | MArch AADRL | BArch

*T*[UK]: +44 7542335088

[2020-07-01 19:33] brgcode commented on #173
i think you can change that quite easily actually (if you are admin on your computer)...

[2020-07-01 22:48] alejandrogarciagadea commented on #173
umm  from what i could see yesterday, in windows 10 it changed and now you
cant just change the name, you have to run few commands and go into
different admin folders, but ill gve it a go.
Thanks for your emails though, much appreciated.
Ale

On Wed, Jul 1, 2020 at 8:33 PM Tom Van Mele <notifications@github.com>
wrote:

--

Senior Architect at Zaha Hadid Architects

ARB | MArch AADRL | BArch

*T*[

[2020-07-02 19:40] danben90 opened #181 "no drop-down ui & .rui file in rv2-dev install"
Frist of all thank you very much for the workshop it was really great!

I've tried now the rv2-dev installation via conda (everything via pip, no conda-forge). It works and I can run all the workshop scripts in rhino, but I'm still missing the drop-down ui and I can't find a .rui file in the folder. Maybe someone could point me in the right direction :)

Regarding the UI, the last command I ran in

[2020-07-03 07:17] brgcode commented on #181
hi,

you indeed still have to load the `RV2.rui` file.
it doesn't matter where you get this from since it just links commands to buttons and menu items.
have you tried just loading the file from the workshop?

tom

[2020-07-03 07:35] danben90 commented on #181
Hey Tom,

alright, thank you. Yes I started to use the one Juney uploaded on Day 2.

[2020-07-06 13:06] Licini commented on #165
@brgcode This is now addressed in latest commit. Now the settings and attributes window will always stays on top of rhino

[2020-07-07 14:45] #117 closed

[2020-07-07 14:45] #59 closed

[2020-07-07 14:45] #142 closed

[2020-07-07 14:47] juney-lee commented on #14
will close this for now. will need to be revisited though...

[2020-07-07 14:47] #14 closed

[2020-07-07 14:52] #166 closed

[2020-07-07 14:53] juney-lee commented on #160
this is not solved, but was sufficient for the workshop... will need to revisit this to make it more robust and stable.

[2020-07-07 14:53] #160 closed

[2020-07-07 14:54] #165 closed

[2020-07-07 15:01] juney-lee commented on #114
@Licini was this implemented?

[2020-07-07 15:15] juney-lee opened #183 "1.0.0_bugs"

[2020-07-07 15:17] juney-lee opened #184 "1.0.0_missing_items"

[2020-07-07 15:31] juney-lee opened #185 "DF2020_documentation"

[2020-07-07 15:33] juney-lee opened #186 "missing images in DF2020 gitbook"
COMPAS extensions in tutorial 4

[2020-07-07 15:35] juney-lee opened #187 "add scale parameter to vertical equilibrium"
the three parameters for vertical equilibrium will be:

- target height
- scale
- iterations

[2020-07-07 15:51] juney-lee commented on #179
addressed in

[](https://github.com/BlockResearchGroup/compas-RV2/commit/e28789bb6ca443898422928414fc701078b0546b)

[2020-07-07 15:51] #179 closed

[2020-07-08 09:59] juney-lee opened #188 "from skeleton - change all option strings to camel case"
![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/68e4d608-1525-48e0-9fd9-672fe83a9619)

[2020-07-08 10:01] juney-lee commented on #178
addressed in:

https://github.com/BlockResearchGroup/compas-RV2/commit/8470525dd9a94be83c2d1fe3a6f848561f2acdab

[2020-07-08 10:01] #178 closed

[2020-07-08 10:04] juney-lee commented on #181
Hi @danben90 , has this problem been solved? Please let us know if you need further assistance.

[2020-07-08 10:04] #172 closed

[2020-07-08 10:06] juney-lee commented on #177
@wenqian157 this has now been addressed, right?

[2020-07-08 10:06] juney-lee commented on #173
Hi @alejandrogarciagadea , has this problem been solved? Please let us know if you need further assistance!

[2020-07-08 10:07] danben90 commented on #181
Hey @juney-lee , yes, the problem is solved :) Thank you!

[2020-07-08 10:08] juney-lee commented on #175
Hi @jowcharly and @wesamasali , has this problem been solved? Please let us know if you need further assistance!

[2020-07-08 10:22] wenqian157 commented on #177
the first one has. second not yet. will do today

[2020-07-08 11:39] #181 closed

[2020-07-08 11:40] juney-lee commented on #172
same issue as https://github.com/BlockResearchGroup/compas-RV2/issues/170

[2020-07-08 14:02] juney-lee opened #189 "corner vertex selection - valency is not sufficient to describe corners"
valency == 2 only works for quad meshes

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/bb25ed6a-859e-42c6-9d15-ea1d51346ec2)

in:
https://github.com/BlockResearchGroup/compas-RV2/blob/master/ui/Rhino/RV2/dev/RV2pattern_modify_vertices_cmd.py

https://github.com/BlockResearchGroup/compas-RV2/blob/master/ui/Rhino/RV2/dev/RV2boundary_supports_cmd.py

[2020-07-08 14:30] juney-lee opened #190 "undo/redo"
add to menu and toolbar

[2020-07-08 22:12] juney-lee commented on #189
@brgcode Any boundary vertices, at which the two boundary edges have an angle less than 160 (this number is qualitative and a bit arbitrary... ) are identified as corners. Using angle here is not ideal, but since this is more of a helper/convenience features, maybe it's acceptable? Not sure if there is an entirely topological way to identify the corners for all general meshes...

https://github.co

[2020-07-08 22:25] juney-lee opened #191 "from triangulation - vertices with constraints"
Triangulation results in vertices that are clearly on the constraints/input-curves but marked without any constraints (cyan). Since the constraints feature probably will not be made available for this release, should we just remove the cyan color from the vertices with constraints, to avoid confusion?

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/af5f97c8-4988-4a9d-a6

[2020-07-09 14:42] juney-lee opened #192 "Update installation window image"
typo in title image... it currently says "Funicular From Finding..."

replace with this:
https://www.dropbox.com/s/7e9w9pzke7lgk30/rv2_cover.png?dl=0

[2020-07-10 14:28] wenqian157 commented on #188
they have been changed to camel case. can we close?

[2020-07-10 14:30] wenqian157 commented on #177
think it has been fixed now

[2020-07-10 15:42] #177 closed

[2020-07-10 15:42] #188 closed

[2020-07-13 09:26] juney-lee commented on #186
added a few screenshots (could add more, but i think what we have there is enough...) and this diagram to tutorial 4 section:

![block_offset-01.jpg](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/ff62ad0e-ed23-476f-b91b-17eff2856839)

[2020-07-13 09:26] #186 closed

[2020-07-13 15:00] #192 closed

[2020-07-13 15:01] #189 closed

[2020-07-14 22:29] juney-lee opened #193 "Settings > ThrustObject > '_is_valid'"
`'_is_valid'` is a non-modifiable parameter and should be removed from the form.

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/87692fab-539a-485d-bdeb-5d39ddb6292b)

[2020-07-14 22:36] juney-lee commented on #191
turned off for now.

https://github.com/BlockResearchGroup/compas-RV2/commit/8eb656e9a71d37edd672a6f1821e3d3c9c02e658

[2020-07-14 22:36] #191 closed

[2020-07-15 15:29] Licini commented on #193
Ok, fixed in latest commit

[2020-07-15 15:29] #193 closed

[2020-07-15 20:22] tkmmark opened #195 "the ability to escape: a compilation of issues for those with sticky fingers and live with regrets..."
When a button is clicked by accident (such as the various equilibration functions), there is no turning back;  the escape key does not work and one will have to go through the entire sequence of operations.

[2020-07-15 20:27] tkmmark opened #196 "GitBook Suggestions"

[2020-07-15 20:29] tkmmark commented on #196
Perhaps

[2020-07-15 20:29] #196 closed

[2020-07-15 20:34] tkmmark commented on #195
Provide a gentle reminder to the less savvy users (for the various method involving selection) that they can always deselect by hitting the Ctrl key.  This can be done directly on the command prompt: e.g. Select Vertices (hold ctrl key to deselect) etc

[2020-07-15 20:50] tkmmark commented on #195
Provide convenient methods such as 'release all fixities',  'reset all fmin/fmax' targets' etc...

[2020-07-15 20:53] tkmmark opened #197 "Feature to flag all user-modified elements"

[2020-07-15 21:10] juney-lee opened #198 "from skeleton - escape"
pressing esc at any point during from skeleton should exit out the entire command... currently, it just skips to the next step with unspecified (and arbitrarily set by the current mouse location) parameter inputs

[2020-07-15 22:23] juney-lee opened #199 "horizontal equilibrium - update/clear solver settings when new sessions are loaded"
when a new rv2 session file is opened, horizontal equilibrium solver settings are not cleared/reset from the previous rv2 session. i.e. alpha should reset to default, form100.

[2020-07-16 08:50] wenqian157 commented on #198
or esc&enter cancel the current operation and move on to next? (without any input). for example if the user is happy with default node with he can skip to next step and draw leaf width. for now drawing 3 width is independent

[2020-07-16 10:04] wenqian157 commented on #198
should be fixed

[2020-07-21 07:52] Licini commented on #199
@juney-lee right now the setting is saved as well in session file. So it supposed to be loading settings from the saved session if nothing goes wrong. Would you want to change the behavior to reset to default instead?

[2020-07-21 14:42] Licini commented on #114
@juney-lee ,not really,  what would be the exact behavior of this feature?

[2020-07-21 14:44] Licini commented on #190
This is being developed in the branch: https://github.com/BlockResearchGroup/compas-RV2/tree/undo_redo

[2020-07-21 19:14] brgcode commented on #199
this is the most explicit behaviour though, so i am not sure we should change it...

[2020-07-23 16:14] juney-lee commented on #114
this was a proposed idea for the workshop... but maybe no longer relevant? i think the idea was that you just provide a form for name and/or email and attach the info to the rv2 file, so that when the data is uploaded, we have some way to track/manage.

[2020-07-28 00:14] juney-lee commented on #190
One thing we will have to refine is, what happens when multiple things happen under one single command execution. For example, in “Update Boundary Conditions,” if supports are identified and the pattern is relaxed without exiting out of the command, undo will undo both… maybe we could save a session every time the scene was updated (redrawn)?

[2020-07-30 07:46] #175 closed

[2020-07-30 07:47] #173 closed

[2020-07-30 07:47] #170 closed

[2020-07-30 07:48] #199 closed

[2020-07-30 07:48] #198 closed

[2020-07-30 07:50] juney-lee commented on #195
For the two main solvers (horizontal and vertical equilibrium), pressing escape will now cancel out of the command, whereas pressing spacebar will execute the command. This is the same as the Rhino command exit/execute convention.

[2020-07-30 07:50] #195 closed

[2020-07-30 08:15] juney-lee commented on #197
@wenqian157 could you have a first try at this?

So basically, in "Modify _____ Diagram," then when either "Vertices Attributes" or "Edges Attributes" is selected... during the selection prompt, elements with already modified attributes should be displayed as a dot on the element. So for edges, for example, if there are elements with new user-defined lower and upper bounds for Fmin and Fmax, these

[2020-07-30 11:07] Licini commented on #190
That's actually a great idea. Might even simplify the code change a lot.

[2020-07-31 15:58] wenqian157 commented on #197
ok will try!

[2020-08-01 11:31] PermacultureColin opened #200 "Unknown command:-_RV2init"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Context [e.g. ST3, Rhino, Blender, ...]
2. Sample script
3. Sample data
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please comp

[2020-08-01 12:53] brgcode commented on #200
have you tried this?
https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#i-have-successfully-installed-rv-2-but-when-i-try-to-initialise-i-get-the-following-error

[2020-08-02 02:55] PermacultureColin commented on #200
Thanks, that's solved the problem.

On Sat, Aug 1, 2020 at 10:53 PM Tom Van Mele <notifications@github.com>
wrote:

[2020-08-02 08:05] #200 closed

[2020-08-13 15:11] wenqian157 commented on #197
@juney-lee so we have default values for all the attributes of all elements, and compare it with the current value to determine if it has been modified? and if there are more than one pair of values(hmax, hmin, lmax, lmin, q), all should be displayed?

[2020-08-13 15:25] brgcode commented on #197
only the modified values are stored per element. so you can just check if an element has a stored value of one of the attributes of the default dict to see if it was modified at some point...

[2020-08-14 09:04] juney-lee commented on #138
@wenqian157 Let's also revisit this and give it a try. Should be fairly straight forward, aside from the interactive selection of the dots.

[2020-08-14 09:05] juney-lee commented on #114
I guess this is no longer relevant. How to receive donor files/data/info, still up for future discussion...

[2020-08-14 09:05] #114 closed

[2020-08-14 09:14] juney-lee commented on #197
Just thinking out loud:

Maybe we could have an optional color scheme for this, like how we have "show colors"? It could be "show modified elements"? For example, any vertices or edges that have custom attributes can be always displayed in black. I don't think it makes sense to display the modified values all the time... it would be visually cluttered and interfere with, for example, angle deviati

[2020-08-23 18:26] AlexPham1503 opened #201 "Installation error"
[**cannot install RV2 on Rhino 6 Bootcamp**
I followed the instruction to install RV2 but after I click Install RV 2, this happens
![Screenshot (55)](https://user-images.githubusercontent.com/70109448/90985847-792b3d80-e576-11ea-9454-70ebe053a7d1.png)

How can I fix this?
**To Reproduce**
Steps to reproduce the behavior:
1. Context [e.g. ST3, Rhino, Blender, ...]
2. Sample script
3. Sample data
4.

[2020-08-24 06:16] brgcode commented on #201
it seems the space in the path might be a problem. could you try the procedure from a different location, without space? just to make sure that this is what causes it...

[2020-08-26 14:21] zb875 opened #202 "initialization problem"
It says Unknown command _RVinit even though I have typed editpythonscript and exit rhino and then opening rhino back. I have tried it several times still says unknown command.

[2020-08-30 16:24] ManishBilore commented on #170
After a successful installation of RV2, Initialization of RV2 gives me an unknown command. I have tried reinstalling and deleting broken plugins. yet the issue remains.

[2020-09-01 10:30] brgcode commented on #202
just to make sure this is not just a typo, the name of the command is `RV2init` not `RVinit`...

[2020-09-01 10:31] brgcode commented on #170
i assume you tried all of the stuff above in this thread?

[2020-09-02 21:56] Medium-Red commented on #202
Having the same issue, using _RV2init
Using Rhino 6 SR29 2020-8-25 on windows 10. Installed using a file path with no spaces on C: drive.

[2020-09-05 10:38] Wellsay14 commented on #202
Having the same issue as Medium-Red !
Using RhinoVault2.Setup.1.0.0
Using Rhino 6 SR29 2020-8-25 on windows 10. Installed using a file path with no spaces on C: drive.

[2020-09-06 17:50] ManishBilore commented on #170
Now Rv2 initialised for Rhino 6, it is up and running, Rhino 7 still gives me the same error

[2020-09-06 18:57] brgcode commented on #202
just to make sure we get the obvious causes out of the way first:

- have you opened the PythonScriptEditor at least once after installation?
- can you confirm there are no other Python Command Plugins installed that are potentially broken?
- can you import `compas` in the PythonScriptEditor? (just open an empty script, type `import compas`, and run the script)
- do you have any additional paths a

[2020-09-06 19:16] brgcode commented on #170
have you actually installed it separately for Rhino 7? it is not automatically available for both versions...

[2020-09-06 19:17] brgcode commented on #201
did this get resolved?
thanks

[2020-09-06 21:21] Medium-Red commented on #202
- `RV2` did not recognize as a command
- I had run EditPythonScript a few times before and after installation
- I did not have other Python Command Plugins installed
- I was unable to import `compas` in the Rhino Python Editor with `import compas`

After checking your final suggestion I noticed in my Rhino Python Editor window there was no "Module Search Path" to the RV2 installation folder on my

[2020-09-07 06:18] brgcode commented on #202
i was not going to propose that as a solution because (at best, and a bit surprisingly) it solves only a part of the problem...

did you perhaps update Rhino after you installed RV2? we noticed that recent updates overwrite some of the folders we use for the installation of COMPAS and COMPAS plugins...

if not that, was there anything else that happened during the installation procedure that is wo

[2020-09-07 09:57] AlexPham1503 commented on #201
Hi,

Thank you for your email. Yes I try to install it in a different folder and
it works. Thank you very much for the amazing software.

Regards,

Alex

On Sun, Sep 6, 2020 at 8:17 PM Tom Van Mele <notifications@github.com>
wrote:

[2020-09-07 09:58] brgcode commented on #201
cool, thanks for the feedback!

[2020-09-07 09:58] #201 closed

[2020-10-01 10:27] wesamasali commented on #175
Hi @juney-lee I am getting this when doing the cmd
C:\Users\EliteBook720>C:\Users\EliteBook720\Documents\RhinoVault2\RV2\dev\env\py
thon -m compas_cloud.server
Traceback (most recent call last):
  File "C:\Users\EliteBook720\Documents\RhinoVault2\RV2\dev\env\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\EliteBook720\Documents\RhinoVault2\RV2\dev\env\lib

[2020-10-01 10:57] brgcode commented on #175
@Licini

[2020-10-01 14:57] yoshiosakurai commented on #202
window indicates as follows!
Traceback:
  line unknown, in <module>, "<string>"
  line 245, in start_server, "C:\Users\yoshi\AppData\Roaming\McNeel\Rhinoceros\6.0\Plug-ins\IronPython (814d908a-e25c-493d-97e9-ee3861957f49)\settings\lib\compas_cloud\proxy.py"
  line 98, in __init__, "C:\Users\yoshi\AppData\Roaming\McNeel\Rhinoceros\6.0\Plug-ins\IronPython (814d908a-e25c-493d-97e9-ee3861957f49)\setti

[2020-10-01 15:28] brgcode commented on #202
@Licini

[2020-10-05 08:01] PureeS opened #204 "Python error"
I have a problem with RV2. I installed completely but when I start to use (create from surface) It popped up the error. Could anyone help me pls. [Thx]

![Capture1](https://user-images.githubusercontent.com/20870481/95054159-a80f0480-071b-11eb-8497-0df5a0b33893.JPG)

[2020-10-06 14:35] doaakhan opened #205 "graphic user interface: toolbar"
I have installed the rhinovault however the **toolbar is not visible**, I have to manually type in commands. Is there a way to launch the toolbar so it will be easier to use.

[2020-10-06 14:40] doaakhan commented on #205
the rhinovault2 title isn't even showing on the rhino toolbar area perhaps it wasn't installed properly? PLEASE HELP

[2020-10-06 14:43] doaakhan commented on #205
![issue](https://user-images.githubusercontent.com/72455411/95217040-31056900-080c-11eb-884e-f251c53eb1b7.png)

[2020-10-06 14:55] brgcode commented on #205
as described in the docs (https://blockresearchgroup.gitbook.io/rv2/quick-start/windows-install#3-activate-toolbar-in-rhino) you have to load the UI file `RV2.rui`

[2020-10-06 15:08] #205 closed

[2020-10-06 17:23] Licini commented on #204
Hi @PureeS we are looking at the issue, which installation of RV2 you are using? is it dev installation or certain version of release installation?

[2020-10-13 11:40] Licini commented on #202
@zb875 @Medium-Red @yoshiosakurai @Wellsay14 We have released a later version might fixed this problem:

[2020-10-14 16:08] Cornelia1425 commented on #202
Hi @Licini same issue here, I installed the latest v1.1.3 in both Rhino 6 and Rhino 7 Beta version, and they say Unknown command: -_RV2init. I tried with or without the underscore, didn't work...

[2020-10-14 19:26] Cornelia1425 commented on #202
I tried again and a python script error window appears says - name ''rv2int_cmd' is not defined, anything I can do to fix this?

[2020-10-15 07:49] brgcode commented on #204
this seems to have evaporated

[2020-10-15 07:49] #204 closed

[2020-10-15 08:05] brgcode commented on #202
@Medium-Red @Cornelia1425 could you check if you have any other Python command plugins installed? we have had the issue in the past that if any of them are broken the others won't work either...

they are in the same folder as RV2, so something like `C:\Users\yoshi\AppData\Roaming\McNeel\Rhinoceros\6.0\Plug-ins\PythonPlugins`

also, could you provide info about the following

* have you opened the

[2020-10-15 08:08] brgcode commented on #202
@Cornelia1425

when/how did this happen? (where you running a script? typing a command? using the toolbar?)
could you post a screenshot of the actual error window?

note that there is a typo in `rv2int_cmd`. is this yours? or is this what was displayed in the error?

[2020-10-15 17:22] Cornelia1425 commented on #202
@brgcode Thanks. I reinstalled it and it worked. My question is do we need to conda install CAMPAS in our computer before we install RV2? that's what I did anyway.. Thank you!

[2020-10-16 06:34] brgcode commented on #202
the RV2 installer ships with it's own version of COMPAS, so that should not be necessary. you can however, switch to a "developer" install using packages from a `conda` environment that you manage yourself, instead of using the one that comes with RV2. however, i would only recommend this for experienced users ...

[2020-10-16 11:16] Mathias-Fuchs commented on #202
I have the same issue, with the newest v1.1.3. What is the official solution?

[2020-10-16 13:29] brgcode commented on #202
have you imported `compas` in a script inside Rhino?

[2020-10-16 13:36] Cornelia1425 commented on #202
@brgcode i see. Thank you!

[2020-10-16 13:39] Cornelia1425 commented on #202
@Mathias-Fuchs when I reinstalled RV2 I changed the install path to my c/users/username folder instead of the c/ folder. Not sure if that caused the issue..

[2020-10-20 10:39] Mathias-Fuchs commented on #202
no worries, it worked after repeatedly trying and opening the python editor .. not sure what exactly made it work, though :/

[2020-10-20 14:24] juney-lee commented on #190
I guess this is resolved now.

[2020-10-20 14:24] #190 closed

[2020-10-20 14:32] juney-lee opened #208 "generalized definition of "target height" needed"
"Target height" is the global z coordinate... this seems to become problematic when you have situations where the corner supports (the ones where the diagonal is measured) are on different z coordinates. For example:

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/46abb037-74d8-49aa-bcf0-4ac3c9e6ba91)

Maybe the calculation of the diagonal stays the same (bounding box),

[2020-10-20 14:47] juney-lee opened #209 "missing artists for "loads' and "selfweight" for ThrustObject"

[2020-11-02 11:14] juney-lee opened #210 "ThrustDiagram - edges/pipes in color"
When "show forces" option is turned on (where form/force edges are displayed in matching colors), it would be good to show the ThrustDiagram edges in the same color, and also the pipes (should override the pipe color from settings).

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/32522ed2-f9b7-471b-9952-8a578fca5609)

[2020-11-07 22:28] msh-15 opened #211 "from features - exception error"
"Create Pattern from Features" is not working for me.

I'm using the tutorial file for the Armadillo Vault (but it gives the same error in other files as well).

I've included a screenshot of the error message.
![PythonScriptError](https://user-images.githubusercontent.com/74118848/98452568-031a8980-2116-11eb-9e18-e276e37bdb94.png)

Can you please suggest a fix?

[2020-11-09 09:36] Licini commented on #211
hi @msh-15 , just want to check first, which version of RV2 you are using? is it v1.1.3 ?

[2020-11-09 15:19] msh-15 commented on #211
Hi Licini, it looks like I'm running v1.1.0.

[2020-11-11 05:13] jwdjid opened #212 "initialization - "unknown command""
Hi,

I am very interested in trying out Rhino Vault 2, however, the activation had failed. The toolbars are all there, but when I initialize RV2, the command shows "unknown command: - _RV2init" (see the attached screenshot). Please help me.

I am using a Windows 10 device with Rhino 6.

Thank you!

Best,
Jeffrey
![RV2 Activation problem](https://user-images.githubusercontent.com/74284794/98771519-

[2020-11-11 13:14] juney-lee opened #213 "more significant digits needed for drawing pipes/reactions/residuals for ThrustDiagram"
Only one decimal point is allowed in the scale... so 0.05 is not possible; it always rounds up to 0.1.

[2020-11-11 13:16] #202 closed

[2020-11-11 15:23] juney-lee commented on #138
@wenqian157 This is working great! One minor request. Could we hide the gray lines along the edges of the surface(s)? Or maybe the original surface needs to be hidden (in which case the edges can be displayed in black)?

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/91803a9b-aeab-4d01-a5ea-c34bd588ff7e)

[2020-11-11 16:24] wenqian157 commented on #138
think its doable. need to track the keys of the subdivided edges.

[2020-11-16 09:34] Licini commented on #213
![image](https://user-images.githubusercontent.com/17893605/99236226-371d3b00-27f7-11eb-9c57-7bd3bb450419.png)
Just pushed a commit to make the form to allow one more digit if the field is a float value. @juney-lee  Does this fix the problem?

[2020-11-16 09:36] Licini commented on #212
Hi @jwdjid thanks for the feedback! Have you try to run `EditPythonScript` in rhino at least once?

[2020-11-16 09:46] juney-lee opened #214 "ThrustDiagram - show mesh color"
Use internal axial force magnitudes of the ThrustDiagram to display colored mesh of the ThrustDiagram.

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/5c4853c8-5eec-4d4c-9fa2-2087139d85f5)

[2020-11-16 10:10] juney-lee opened #215 "vertical equilibrium conduit"
conduit for vertical equilibrium

![rv2_vertical.gif](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/19cc533a-cfe5-4f2d-85d3-1f3ad610bc50)

[2020-11-17 12:01] brgcode commented on #215
this is not possible because there are no iterations...

[2020-11-17 12:36] brgcode commented on #214
please not that you have to compute a lumped stress per vertex before you can visualize the stresses using the colors of the mesh...

[2020-11-17 12:38] brgcode commented on #213
@Licini i would like us to start using a system where the type, precision, label, ... of UI items can be defined in the config file that creates them...

[2020-11-19 10:30] #215 closed

[2020-11-21 07:51] juney-lee opened #216 "using rhino objects as constraints"
- [ ] formdiagram.vetices / forcediagram.edges - selection by constraints
- [ ] project to rhino curves/objects

[2020-11-21 07:54] juney-lee commented on #138
it also seems that if the non-trimmed surface(s) have curved boundaries, it ignores it and just makes a straight edge from its end points... would be convenient to follow this curve, as this input may be useful in some scenarios to quickly generate patterns with "sags" or respect specific boundary conditions.

[2020-11-21 08:34] juney-lee opened #217 "compas_singular out of sync with compas v0.17+"
![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/f817961a-7448-4342-99e5-8290ef571c09)

[2020-11-21 12:11] wenqian157 commented on #138
I think how we are doing it here is very different from RV1, we start from making a low poly mesh, make each surface as a face in the mesh, which apparently cant take the information of curve edge... The way I can think of is to store the curved edge somewhere, when user subdivide the coarse mesh, it somehow move new vertices to the curve edge?

[2020-11-25 17:46] robin-oval commented on #217
How do I reproduce this?

[2020-11-25 17:47] robin-oval commented on #217
Is it a RV2 thing or just compas?

[2020-11-25 18:03] robin-oval commented on #217
what about now

[2020-11-26 08:09] jpjasienski opened #219 "installation - .exe file doesn't complete the installation of the packages"
Hello

When I execute the .exe file, it doesn't finish well the installation procedure.
The terminal shows a serie of errors while checking the packages (see screenshot). Only Compas is said to be OK.

I did the following step previously to launching the .exe

The goal is to introduce the new RhinoVault to our students (with previously worked with RV1).

Many thank's in advance for your help
Jean-

[2020-11-28 06:56] idilkumsal opened #220 "How to install?"
Hello,
can someone describe step by step how to install this plug in?
i have downloaded the exe file and installed, and it said "done" but there is no plug in thingy in rhino interface. idk what i am doing wrong...?

[2020-11-28 07:03] idilkumsal commented on #220
![Ekran görüntüsü 2020-11-28 100245](https://user-images.githubusercontent.com/75157116/100495913-f7444500-3160-11eb-85eb-3f3215b8b330.png)
![Ekran görüntüsü 2020-11-28 100200](https://user-images.githubusercontent.com/75157116/100495915-fad7cc00-3160-11eb-9516-4eb708d42120.png)
![Ekran görüntüsü 2020-11-28 100229](https://user-images.githubusercontent.com/75157116/100495917-fd3a2600-3160-11eb-929

[2020-11-28 07:04] idilkumsal commented on #220
![image](https://user-images.githubusercontent.com/75157116/100495930-180c9a80-3161-11eb-90f5-76e31fa1ac18.png)
there is nothing here

[2020-11-28 07:16] idilkumsal commented on #220
ok i did it lol

[2020-11-28 07:16] #220 closed

[2020-11-28 08:35] johnjonmes commented on #212
same problem!i  ran editpythonscript and and everything as per instructions.  i tried several times.  i did notice that i did not get the user account control boxes as per instructions said i need to click it twice.

[2020-11-28 09:46] nabilaafif commented on #211
Hi, I'm also getting an error message every time I try to use the Create Pattern from Features feature. It's a different error code than the one found on msh-15, though (screenshot attached). I'm using RV2 version v1.1.4. I thought it might have to do with some error in installation, but the other functions seem to work well.

![error 01](https://user-images.githubusercontent.com/75015320/10049901

[2020-11-30 12:51] juney-lee commented on #138
I have removed the subd boundary edges from visualisation now. The curved edges would be nice to incorporate, because it gives quite a bit of flexibility when providing, for example, untrimmed surfaces that have been modified with simple control points or cage-edit.

To generalize this method, it would be good to use Catmull Clark subdivision for any non-four-sided surfaces. At the moment, non-fou

[2020-11-30 13:02] juney-lee commented on #210
resolved in commit [https://github.com/BlockResearchGroup/compas-RV2/commit/6714c5885f229ac9fe04d57a917a44d31ae2b6bc](url)

[2020-11-30 13:02] #210 closed

[2020-11-30 13:05] juney-lee commented on #210
![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/4d2a3c64-2f7a-40f2-bde5-9e3d91602886)

[2020-11-30 13:05] #17 closed

[2020-11-30 13:57] juney-lee commented on #214
how is lumped stress calculated (using which attributes) at each vertex?

[2020-11-30 14:12] #213 closed

[2020-11-30 14:21] juney-lee commented on #211
@msh-15 @nabilaafif Hi, this is a known issue and a bug with the "Pattern from features" function. We are addressing it currently, and it should be resolved in the next few updates. Thanks for your patience!

[2020-11-30 15:10] brgcode commented on #214
for every vertex you have to compute a "stress" per incident edge, which is the amount of force divided by the cross section that can be attributed to that edge (distance between centroids of neighbouring faces multiplied by the average thickness along the edge). then average the stress at the vertex...

[2020-11-30 15:59] juney-lee commented on #209
@brgcode calculating self weight per vetex:

`def draw_loads(self, vertices, color, scale, tol):

        vertex_xyz = self.vertex_xyz
        lines = []

        for vertex in vertices:
            a = vertex_xyz[vertex]
            area = self.mesh.tributary_area(vertex)
            thickness = self.mesh.vertex_attribute(vertex, 't')
            weight = area * thickness
            live = self.

[2020-11-30 16:04] brgcode commented on #209
you are mixing up selfweight and externally applied loads. there should be a function for visualising both separately...

[2020-11-30 17:28] juney-lee commented on #209
okay, will separate them to: 'show.selfweight' and 'show.loads'

[2020-12-01 14:50] tkmmark commented on #217
@robin-oval
I sent you a pull request concerning this on Oct 7
https://github.com/BlockResearchGroup/compas_singular/pull/7

[2020-12-01 15:02] #209 closed

[2020-12-01 16:27] juney-lee commented on #83
@brgcode Is this something we can implement for next week? we could show a "beta" WIP version?

If you leave the boundary of the formdiagram entirely unsupported, it already gives the right dual diagram (as expected). I guess the things that would need to happen are:

- user selects the radial/tension edges in the forediagram (or select on continuous edges on the formdiagram), then assign edge att

[2020-12-01 16:32] brgcode commented on #83
except for providing a GUI-based way for the user to mark edges as tension, all of this already works. it is just not used at the moment...

[2020-12-01 16:33] brgcode commented on #83
maxxi is already form found with this...

[2020-12-01 16:40] juney-lee commented on #83
Okay, so I will try something. So only thing that needs to change is changing the edge attributes to 'is_tension' to True?

If tesnion edges are present, the 'show.force' color scale will need to adjust as well, since rgb scale wouldn't make sense. Will also come up with a reasonable scheme.

[2020-12-01 19:54] #217 closed

[2020-12-01 19:54] juney-lee commented on #217
It seems to be working fine again now. Thanks, @robin-oval !

[2020-12-02 09:37] Licini commented on #219
Hi @jpjasienski thanks for the feedback, according to the error message, it seems that you have a local `compas` repo at `C:/Users/jasienskij/Documents/compas` Which is somehow loaded instead of the `compas` shipped inside the installer. Could you try to delete or remove that folder and run the installer again?

[2020-12-03 02:38] juney-lee commented on #214
![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/3d9d49bf-3e02-4cb3-bcca-ad739d8fa7ff)

[2020-12-03 02:38] #214 closed

[2020-12-03 07:55] brgcode commented on #219
well or perhaps less dramatically, did you perhaps register that version of `compas` on the path?

[2020-12-04 18:40] archidrat opened #222 "Unknown command: -_RV2init"
Hello,
I followed the installation instructions as described in the video but ran into an unknown command error when trying to initialize RV2. What could be the problem? i did run the editpythonscript command a several time and restarted rhino afterwards. do I have to do something in the popup folder which opens when running editpythonscript? or what else could be the problem? by the way i have th

[2020-12-11 07:05] PureeS commented on #222
I got this problem too on RH7.

[2020-12-11 07:30] brgcode commented on #222
there are three potential reasons

1. the plugin has not yet been initialised internally by Rhino: this can be solved indeed by opening at least once the Python Script Editor in Rhino.
2. you have a broken plugin in the Rhino plugins folder (this prevents any other plugin from loading): please check which plugins are in ``C:\\Users\\<username>\\AppData\\Roaming\\McNeel\\Rhinoceros\\<version>\\Plug

[2020-12-12 08:59] mrandersonmx commented on #222
Not working for me and our entire study group for RH7, I got "Unknown command: -_RV2init".
I tried all the above suggestions:
1. Initializing with EditPythonScript
2. Since there is no PythonPlugins folder in Rhino 7 Plugins folder I did erase the broken link for Rhino 6, but still got the same error
3. I did a process to change my username folder to avoid a "space"(special character), reinstalled

[2020-12-12 17:30] pinaki-moh commented on #211
![image](https://user-images.githubusercontent.com/75906371/101990528-5eb7d400-3ccd-11eb-9fcf-f52546c9f6b0.png)
Hi, this seems to be an issue even with the V 1.1.7-rc3. Just wanted to know, if it was fixed in this version or there is some other issue.
Thanks!

[2020-12-13 14:54] brgcode commented on #222
which version of RV2 are you using?

[2020-12-13 15:10] brgcode commented on #211
unfortunately not addressed yet...

[2020-12-14 02:47] mrandersonmx commented on #222
I installed the latest, Release v.1.1.7-rc3. This is a recurring problem for more than 20 people so I guess it doesn't have to do with my computer's specific configuration.

[2020-12-14 02:51] fre3Darchi commented on #222
After install the version 1.1.6 https://github.com/BlockResearchGroup/compas-RV2/releases/tag/v1.1.6,
and get the menu RhinoVAULT2
It not working for me too for RH7, I got "Unknown command: -_RV2init".I have Initialize with EditPythonScript
I have create a PythonPlugins folder in C:\Users\User\AppData\Roaming\McNeel\Rhinoceros\7.0\Plug-ins\PythonPlugins but nothing run

Coudl you help me ? Thank Y

[2020-12-14 07:08] brgcode commented on #222
RV2 is compatible with R7 but the installer is hardcoded to run the process for R6. we will release a version later today that provides the option to choose...

[2020-12-14 07:49] fre3Darchi commented on #222
Thank you so mush. it's a good news

[2020-12-14 11:46] Licini commented on #222
Hi @PureeS @fre3Darchi @mrandersonmx @archidrat https://github.com/BlockResearchGroup/compas-RV2/releases/tag/v1.1.7

[2020-12-14 11:57] #83 closed

[2020-12-14 14:35] Licini commented on #212
Hi @johnjonmes , which version of rhino you are using? There is a known problem with Rhino 7 that is discussed in https://github.com/BlockResearchGroup/compas-RV2/issues/222
And we just made a new release 1.1.7 that is supporting Rhino7. It that's not the case and you are using rhino6, could you copy us the log shown at the end of installation? Thanks

[2020-12-14 14:48] brgcode commented on #212
his screenshot has a tab that says "New in V6" :)

[2020-12-18 07:14] archz2 opened #224 "Installation issue of Rhinovault 2 (v1.1.6 )"
**Describe the bug**
A clear and concise description of what the bug is.

I am unable to install Rhinovault 2 (v1.1.6 ) on my machine .

I am getting this error.

![image](https://user-images.githubusercontent.com/66735186/102585534-950eac80-412e-11eb-9f28-9c5e489c8fe7.png)

I am getting this error even when I run the setup as administrator.

Please help.

[2020-12-18 07:20] brgcode commented on #224
hi,

this is a known issue with the latest version of `numpy` on windows machines. it should have been addressed in version `1.1.7` of RV2. would you mind trying that one?

also could you let us know which version of Rhino you have?

thanks

[2020-12-18 07:21] brgcode commented on #222
@PureeS @fre3Darchi @archidrat @mrandersonmx did the new version fix the problem for you?

[2020-12-18 07:23] brgcode commented on #212
@johnjonmes @jwdjid which version of RV2 did you install?

[2020-12-18 11:08] archz2 commented on #224
Okay. Sure! I'll try with 1.1.7.

I have Rhino 6 (6.32.20340.21001)  and Rhino 7 (7.1.20343.9491) installed.

[2020-12-20 07:18] archz2 commented on #224
@brgcode 1.1.7 is working fine. Thanks!

[2020-12-20 15:59] claudiofeldman opened #225 "Problem to install in Rhino6"
Could you help me with the installation of RhinoVault 2? -It does not run correctly! -.

If one installs Rhino Medical, the window will appear correctly in Rhino 6 or 7
... but with RhinoVault2, it is not the same.
1) I already downloaded it, but I don't see anything in Rhino6.
2) If I open Rhino 5, yes, it appears there, but I don't use version 5 anymore.
 ( i have choose for rhinovault2,and that

[2020-12-20 15:59] #225 closed

[2020-12-20 16:28] #224 closed

[2020-12-20 16:31] brgcode commented on #225
in case this is still an issue
https://blockresearchgroup.gitbook.io/rv2/quick-start/windows-install

[2020-12-20 17:09] claudiofeldman opened #226 "Installing Rhinovault2 problems"
![comando desconocido Rhino 6](https://user-images.githubusercontent.com/24320798/102720219-5d9d2d00-42f3-11eb-868a-fef2c81eb945.JPG)
Hello
I follow the steps,but i cant initialize RV2....nothing happens at this moment.
dont recognize " initialize RV23...I write EditpythonScript...
the window Python appear, i close the program. i re-start Rhino 6.
But the same,i cant initialize RV2.
..............

[2020-12-20 17:09] claudiofeldman commented on #226
Hello
I follow the steps,but i cant initialize RV2....nothing happens at this moment.

Now i am in RHINO 6....
I can show the screen with RV2into, but cant initialize Rv2...

I want to see Rhinovault2 working in my Rhino 6 OR 7.
I can open and follow the tutorials until now.

( years ago, the same with Rhinovault for 5.
Help please
Thanks

[2020-12-21 11:38] brgcode commented on #226
have you tried this?

https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#i-have-successfully-installed-rv-2-but-when-i-try-to-initialise-i-get-the-following-error

[2020-12-21 15:14] claudiofeldman commented on #226
Yes, Thank you.
Now is in order, ....
( all Uninstall, after that install again RV2 1.1.7....
  all steps again, and now open).

-Now, just a pity, that all the tutorials I have seen, had other commands.
-It doesn't seem complicated to test, but you see, just installing it a
long time.
-Still studying the manual.

  * Hopefully I can master it, it is of great beauty!.*

Merci
Claudio
.............

[2020-12-26 21:09] fre3Darchi commented on #222
Yes It run. Thank you so mush for the new installer

[2021-01-01 08:57] YuchiSHEN opened #227 "How to output the q value in the Formdiagram"
Dear BRG Team,

I am using the relax function for the Formdiagram(after the horizontal equlibrium process) and it works perfect for finding a near equilibrium solution. The question is how can I export the list of q(force density) value of the edges in form diagram? So far I can only see the q value via the edgeattribute function, is there any way to get more oganized model data from the RV2(edges

[2021-01-03 19:11] claudiofeldman commented on #226
Happy Holidays
Health !

Although the tutorial, the manual, and the examples are super-good, and well illustrated,
 I cannot understand why by following the '' 'Armadillo' ''
... Rhinoceros6 locks up, without any more answers in the RV2 process,
 would you receive this message from Python?
 - Nor does it open Rhino7.
There I can't understand what happened, when everything seemed so simple to follo

[2021-01-04 09:14] Johannes200 opened #228 "from features - exception error"
Dear BRG Team

I have a question regarding the “Create Pattern From Features” tool. I'm using Rhino Vault2 v1.1.7 for Rhino6 and  every time I want to create a pattern, I’m getting an "Exception Occured - Message: KeyError" error message after defining the target length. So, I wanted to ask if there is any possible way to use this tool or do you suggest using the other tools?

Best regards

Johann

[2021-01-04 17:34] laurenolte opened #229 "Installation Error"
**Error Description**
I am trying to install rhinovault2, and have tried on three different devices and continue to get the same error:

**To Reproduce**
Steps to reproduce the behavior:
1. I open the rhinovault installer
2. It begins installation
3. At the end of installation I receive the following error: RuntimeError: The current Numpy installation ('C:\\Users\\AVuser\\Desktop\\RhinoVault\\RV2\

[2021-01-04 17:36] laurenolte commented on #229
![RV2error](https://user-images.githubusercontent.com/76790311/103562699-decaf700-4e91-11eb-8f4b-110739502c64.PNG)

[2021-01-05 18:02] brgcode commented on #229
which installer are you using?

[2021-01-05 18:03] brgcode commented on #222
can i close this?

[2021-01-05 18:04] brgcode commented on #228
unfortunately from features is still a bit buggy. we are working on solutions but in the meantime, if you can avoid using it, please do :)

[2021-01-11 10:28] brgcode commented on #229
@juney-lee could you follow up with this?

[2021-01-11 10:33] brgcode commented on #226
when opening a new drawing in Rhino, unfortunately the active doc and scriptcontext get confused, and keep referring to the previous document/drawing.

try restarting Rhino to open a new drawing.
or use `Import` rather than `Open` to stay within the same document...

[2021-01-11 10:56] brgcode commented on #227
@juney-lee @Licini correct me if i'm wrong

in the menu (at the top of the Rhino window, not in the RV2 toolbar) there is `Form Attributes` which should provide a table view of all attributes of vertices, edges, faces for the form diagram

in a script, you can do something along the lines of the following
[code]

[2021-01-12 14:58] juney-lee commented on #227
@Yuchi: FYI, if you relax the FormDiagram, it will use the current q's (including any manually entered q values) to reconfigure the diagram in 2D. This will require horizontal equilibrium, which will update the q's. Then, if you do vertical equilibrium from there, these q's will be updated with actual q's (length of ThrustDiagram edge/ 3D force in that edge). So when you print export/print these q

[2021-01-12 15:01] juney-lee commented on #229
Hi @laurennolte. Since you are able to complete step 4 without an error, the PatternObject theoretically should exist? It is difficult to tell exactly what is happening here. Could you share with us the screenshots (and any error messages/windows) of the Rhino window for steps 4 and 5?

[2021-01-12 15:02] #222 closed

[2021-01-13 13:31] laurenolte commented on #229
![Screenshot (1)](https://user-images.githubusercontent.com/76790311/104458753-23d1e600-5582-11eb-9d11-d926d9171859.png)

[2021-01-13 13:33] laurenolte commented on #229
Hi @juney-lee I have attached a screen shot of an error message that is coming up, on a different project but perhaps related to the previous issue.

[2021-01-13 13:35] juney-lee commented on #229
This is a known issue with FromFeatures. Do you still get an error when you use FromSurface(s) as well?

[2021-01-13 14:09] laurenolte commented on #229
No errors with FromSurface - I am very new to rhinovault - can FromSurface command be used as a corollary command to FromFeatures ?

[2021-01-13 18:07] yervantm opened #230 "Initialize Problem"
Hi I am trying to initialize RV2 after a successful installation, it is giving me an error of unknown command when I initialize.
This issue was happening with RV2 1.1.6 and then I realized for some reason it was not installing properly.
Then I tried the RV2 1.0.0, it installed successfully but still it is giving the error of unknown command when I initialize RV2.

[2021-01-14 08:41] brgcode commented on #230
did you open the Rhino PythonScript Editor once before trying the command?
also, i would recommend installing the latest version which 1.1.7...

[2021-01-14 10:14] yervantm commented on #230
Actually I did try that later and it worked. But only with the 1.0.0.
Can I install the 1.1.7 over the already installed 1.0.0 or should I remove the latter first and delete the files and then install the 1.1.7?

[2021-01-14 11:46] brgcode commented on #230
you should be able to install 1.1.7 over 1.0.0
@Licini correct?

[2021-01-16 00:34] yervantm commented on #230
Thank you

[2021-01-16 06:01] brgcode commented on #230
all good now?

[2021-01-16 07:55] yervantm commented on #230
yes! thank you

[2021-01-16 08:28] #230 closed

[2021-01-21 12:25] SLiv75 opened #231 "installation - Not All Functions/Buttons Installed"
Hello,

I downloaded and installed V2 for Rhino 7, but I don't seem to have all the buttons that were shown in the video tutorial. For example, I do not have the make pattern or define boundary buttons in my toolbar.  It also says "unknown command" when I click the buttons that I do have. I have attached a screen shot of what I do have below. Please let me know if there is a way to resolve this. T

[2021-01-21 12:27] brgcode commented on #231
which version did you install exactly? because that looks like the toolbar of RV1 :)

[2021-01-21 13:24] SLiv75 commented on #231
Hi Tom,

Thanks for getting back to me so quickly. Initially, I think I installed
the wrong version, but then I installed the V2 version, which I
believe overwrote the original.

On Thu, Jan 21, 2021 at 7:28 AM Tom Van Mele <notifications@github.com>
wrote:

[2021-01-21 13:27] brgcode commented on #231
@juney-lee is this not the toolbar of RV1?
@SLiv75 what i mean is, which version of RV2 did you install?

[2021-01-21 13:28] SLiv75 commented on #231
I noticed that the icon says v2, but what's in the folder says Rhino 5??
Maybe when I added the tool bar in Rhino, it was the wrong one? THis is
what downloaded with V2 though.

On Thu, Jan 21, 2021 at 7:28 AM Tom Van Mele <notifications@github.com>
wrote:

[2021-01-21 13:38] brgcode commented on #231
it is a bit difficult to follow what you mean with the things you say without sitting behind your computer :)

which icon?
which folder?
what else is in this folder?

that is possible. perhaps you can just close the toolbar and load the `.rui` file that comes with the RV2 installer? it should be in the installation folder as explained here: https://blockresearchgroup.gitbook.io/rv2/quick-start/win

[2021-01-21 13:57] SLiv75 commented on #231
This is what's in the folder (see attached).

On Thu, Jan 21, 2021 at 8:38 AM Tom Van Mele <notifications@github.com>
wrote:

[2021-01-21 14:00] brgcode commented on #231
attached?

[2021-01-21 14:12] SLiv75 commented on #231
Think I have it correct now. Thank you for the help.

Best,

SHelley

On Thu, Jan 21, 2021 at 7:28 AM Tom Van Mele <notifications@github.com>
wrote:

[2021-01-21 14:46] SLiv75 commented on #231
Hi Tom,

I did fix the menu bar. However, I am getting another error, which I
suspect has something to do with how I am using it. I create a pattern, and
then go to the next step (just like in the video), but it says there is no
pattern. ANy suggestions?

THanks again,

Shelley

On Thu, Jan 21, 2021 at 7:28 AM Tom Van Mele <notifications@github.com>
wrote:

[2021-01-21 14:47] brgcode commented on #231
which pattern function are you using?

[2021-01-22 17:39] m4tur1n commented on #226
Hi,

I have now spent an hour and a half trying to get it to run on rhino 7. Unfortunately without success. I followed all the steps and got it to run on Rhino 6. But I would like to use it in 7.
Is there any solution or someone with the same problem?

Furthermore, I read something about v1.1.7 but did not find a download link.

Cheers..!

[2021-01-22 17:42] brgcode commented on #226
we will need a bit more info to be able to help. for example, which version of RV2 are you using?

[2021-01-22 17:48] m4tur1n commented on #226
Thanks for the quick reply.

I tried v1.0.0 and v1.1.6.
v1.0.0 works perfectly in Rhino 6.

[2021-01-22 17:50] brgcode commented on #226
could you try https://github.com/BlockResearchGroup/compas-RV2/releases/tag/v1.1.7
if i remember correctly, it is the first version that supports Rhino 7...

[2021-01-22 17:56] m4tur1n commented on #226
Perfekt..! Vielen Dank..!

[2021-01-22 21:14] claudiofeldman commented on #226
Thank you too !!
Greetings
.....................

Claudio J.Feldman ,arq.
*www.architecturalartist.be <http://Www.architecturalartist.be>*

.............................................

El vie, 22 de ene. de 2021 a la(s) 18:56, m4tur1n (notifications@github.com)
escribió:

[2021-01-22 23:30] SenWeiV opened #232 "vertical eq - how to control each arch height manually"
Hi, everyone. In RV2, "target height" only can control the highest height, right? But, what if I want to modify each arch I create in one RV file. For instance, I design a vault with several arches. And for the height of each arch, I want to modify it precisely. How can I set each height for each arch?
Thank you all in advance.

[2021-01-25 08:52] brgcode commented on #232
yes, target height is only related to the highest point. it basically determines the scaling factor of the force diagram...

what you are asking requires not just scaling but redistribution of the forces in the diagram to obtain a particular shape. this is what we call "bestfit TNA" and is currently not part of RV2. a basic version of this might be part of future releases or be made available thro

[2021-01-25 09:26] kyriakos-kyr opened #233 "Python Script Error"
Dear BRG Team,

I am using RV2 v1.1.7 in Rhino 7 but I cannot create a pattern FromSurface_FromTriangulation_FromFeatures and other tools due to Python Script Error.
Please let me know if there is a way to resolve this.
Thank you very much.

Best Regards,
Kyriakos

![PythonScriptError](https://user-images.githubusercontent.com/63425318/105686540-098ff480-5f00-11eb-8eba-39d0e1025475.png)

[2021-01-25 09:30] brgcode commented on #233
does this happen with all types of input, or only in specific cases?

[2021-01-25 09:33] kyriakos-kyr commented on #233
Thanks for the prompt response, with all types of input.

[2021-01-25 12:29] juney-lee commented on #231
@SLiv75 Please also include screenshots of the error messages and the Rhino Window, as they may help us identify the problem better.

[2021-01-29 08:14] kaushal1996 commented on #211
hello, I just wanted to know if this issue has been solved?

[2021-01-29 09:06] kaushal1996 commented on #211
![Screenshot (55)_LI](https://user-images.githubusercontent.com/60731678/106254540-d5d60700-623e-11eb-8209-10306bdf9a96.jpg)

Hello, I'm running this on RV2 1.1.7 RC3 and im following the armdillo vault given in the example. when I'm trying to use create pattern from features. its showing me this error. can anyone please guide me through this. thankyou

[2021-01-29 14:29] brgcode commented on #211
it is unfortunately the same problem. still working on it... will ping here once resolved!

[2021-02-01 09:58] Licini commented on #233
Hi @kyriakos-kyr , would you mind to upload the error message you got from other commands like from_triangulation? Also together with the 3dm file containing your input geometries which will be very helpful for us to troubleshoot.

[2021-02-01 10:43] kaushal1996 opened #235 "RV2 1.1.7 RC3 - Toolbar missing (PROBLEM SOLVED)"
I tired to reinstall the Rhino vault 2. "I had to reinstall it because earlier it was not showing me support points when I tried to select support by continuous edge."

After reinstalling it I try to load the toolbar from the toolbar Layout..it shows me as 'toolbar group' instead of 'RV 2'.

I tired reinstalling Rhino and rhinoVault but still no luck.

I'd be very thankful if someone could guide m

[2021-02-01 11:20] brgcode commented on #235
can you try closing the old RV2 rui file and open the rui file from the new installation?

[2021-02-01 11:47] kaushal1996 commented on #235
hello,
I tried reinstalling the RV2 and also tried using new .rui file. I aksi tried putting it in different folder than documents while installing. I still had no luck.

[2021-02-01 11:51] brgcode commented on #235
i didn't notice this earlier, but you specifically mention `1.1.7 RC3`. this is a release candidate. does the same thing happen with the actual release? so `1.1.7` not `1.1.7 RC3`...

[2021-02-01 12:13] kaushal1996 commented on #235
I installed the new version just right now which is 1.1.7 and tired installing it again. But still no progress. Its still the same issue.

I'll try to elaborate how it happened.

Rhino vault 2 was working perfectly earlier but I reset to 'restore deafult' and after that it showed me this everytime. 'replace the .rui file'

![Screenshot (59)_LI](https://user-images.githubusercontent.com/60731678/10

[2021-02-01 12:29] brgcode commented on #235
@Licini could you follow up?

[2021-02-01 12:39] Licini commented on #235
Hi @kaushal1996 Could you give a try to load this one, and see what happens?
[rui.zip](https://github.com/BlockResearchGroup/compas-RV2/files/5903961/rui.zip)

[2021-02-01 12:51] kaushal1996 commented on #235
Hello @licini,
I tired opening this. still no luck :(

[2021-02-01 13:58] Licini commented on #235
@kaushal1996 It's the first time we have seen this issue... Just to isolate if it is purely the UI problem or the rv2 installation itself, could you run `RV2init` command in rhino, and see if the plugin front-page will show up normally?

[2021-02-02 02:40] derek8833 opened #236 "unknown command -_RV2file_open"
I encounter an issue when installing RV2. I am using Rhino 7 evaluation. and have try the EditPythonScript but it doesn't work.

[2021-02-02 05:42] kaushal1996 commented on #235
hello @Licini
apologies for the late reply.
I did as you said and I did connect to the server.

still so sign of toolbar. :(

![Screenshot (60)](https://user-images.githubusercontent.com/60731678/106557114-243d1b80-6547-11eb-811f-9a8995f1ee16.png)

[2021-02-02 06:02] kaushal1996 commented on #235
I dont know how this happened but I can see the toolbar now. Hurray!

I'll just update you all with how it happened.

First I initialized RV2 from run command as @Licini told me to do and then I tried to reinstall RV2 with my same rhino file open and loaded the new .rui file.

I would thank you all for helping me with this. _/ \_

![Screenshot (63)](https://user-images.githubusercontent.com/607316

[2021-02-02 08:38] brgcode commented on #236
we need more info to be able to help.
* which version did you install?
* can you load the toolbar?
* does the welcome screen appear when you click the init button (first button on the toolbar)?

in any case, the first command you have to run is `_RV2init`, which is command corresponding to the `init` button on the toolbar. all other commands are only available after that...

[2021-02-02 09:41] Licini commented on #235
Haha, that's awesome! Thanks for the feedback, gonna close the issue since it's solved.

[2021-02-02 09:41] #235 closed

[2021-02-05 03:11] melissamichelle23 opened #238 "Installation issue"
Hi, I can't seem to install RV2. All the steps worked until the very end where I try running it. I also tried a second time after re-entering EditPythonScript. Then I tried uninstalling and reinstalling a second time and still got the same error message.

Wondering if this could have anything do with the fact that the first time I installed it, I did so before I saw the EditPythonScript (I did als

[2021-02-07 19:13] SANAYAW commented on #233
I have the same problem. It was working just fine 2 days ago. I even tried to do the exercises posted on your tutorial pages.
this is the message:
Traceback:
  line unknown, in <module>, "<string>"
  line 102, in from_surface_and_features, "C:\Users\snaa1\AppData\Roaming\McNeel\Rhinoceros\6.0\Plug-ins\IronPython (814d908a-e25c-493d-97e9-ee3861957f49)\settings\lib\compas_rv2\datastructures\pattern.

[2021-02-07 19:32] aliam2904 opened #239 "installation - error"
Hello,

While trying to install for Rhino 7 I get this error.

I have tried the following:
- Delete the plugins for Python
- Run as Admin
- Run EditPythonScript

C:\RhinoVault2\RV2>C:\RhinoVault2\RV2\env\python.exe -m compas_rv2.install

 ---------- Checking packages ----------
   compas               OK
   compas_rhino         OK
   compas_tna           OK
Traceback (most recent call last):
  Fil

[2021-02-07 19:42] SANAYAW commented on #233
It worked with adding 2 points of singularities instead of skipping it or adding just one.

[2021-02-08 03:57] melissamichelle23 commented on #170
I am experiencing the same problem on Rhino 6. I've tried several times reinstalling and re-initiating and it still does not work? Any other advice? Could it be because my Rhino 6 is due for an update? I'm having an issue with my computer where I can't update to the latest version.

[2021-02-08 04:09] melissamichelle23 commented on #173
Hi @KEERTHANAUDAY how would you know if a plug-in is broken? I have the same problem, I've been trying to install Rhino Vault for a few days now and can't get it sorted.

I know there seems to be an issue with my Rhino 6 though in general. It's due for an update, and when I would go to update it, Internet Explorer would open and close immediately on a never-ending loop until I turned off my comput

[2021-02-08 08:54] brgcode commented on #239
this seems to be related to `numpy` being broken on Windows for certain builds. which version of RV2 are you installing specifically?

[2021-02-08 08:59] brgcode commented on #238
the `EditPythonScript` thing is only necessary once, after you installed the plugin (and if you had not ever done so before), so what you did should be okay.

which version of RV2 are you installing specifically?
do you have any other PYthon plugins installed?

[2021-02-08 09:12] brgcode commented on #233
unfortunately, `from_features` is still very buggy. we are working on a solution for this, but in the meantime these kind of errors will happen regularly...

[2021-02-08 11:16] aliam2904 commented on #239
I am trying to install RV2 v1.1.6.

[2021-02-08 13:03] brgcode commented on #239
this problem was resolved only in `1.1.7`. could you try installing that version instead?

[2021-02-08 13:16] aliam2904 commented on #239
Tried installing the 1.1.7 version and get the following error:

---------- Checking packages ----------
   compas               OK
   compas_rhino         OK
   compas_tna           OK
Traceback (most recent call last):
  File "C:\RhinoVault2\RV2\env\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\RhinoVault2\RV2\env\lib\runpy.py", line 85, in _run_code
    ex

[2021-02-08 14:01] melissamichelle23 commented on #238
I got it to work last night after initializing RV2 while the EditPythonScript box was open, not sure why it worled but it did!

[2021-02-08 15:06] brgcode commented on #239
@Licini could you have a look?

[2021-02-08 15:10] #238 closed

[2021-02-10 09:50] PRASIDH12 opened #240 "from features - exception error"
not being able to use the "from feature" option when im trying to create a pattern. please help.
it says - exception occured.

trying to use it on this surface.

![Screenshot_6](https://user-images.githubusercontent.com/78849415/107493501-b1b9e480-6bb3-11eb-9feb-782b52397eda.png)

[2021-02-12 17:37] aliam2904 commented on #239
Any updates guys?
@Licini
@brgcode

[2021-02-17 16:31] avwylick opened #241 "'NonType' object has no attribute 'id'"
When I want to use 'create pattern' on one of the files provided by https://blockresearchgroup.gitbook.io/rv2/ (for example the British museum, in step 1a. Create pattern) I get the error message: 'NonType' object has no attribute 'id', both in rhino 6 and rhino 7. Also when I make this geometry myself in rhino 6 and rhino 7, I get the same error.

Does someone know how to solve this?

Desktop:
 -

[2021-02-19 13:49] juney-lee commented on #241
Hi @avwylick, could you provide some screenshots of your current Rhino viewport, showing the input geometries and the setup you are using? In general though, "From Features" function has known instability issues, which we are trying to resolve at the moment.

[2021-02-19 14:01] avwylick commented on #241
Hi @juney-lee , thank you for your reply. Here is a screenshot of my viewport, I'm only using the first geometry for now. When I try to create the pattern, the geometry disappears and I receive the error-message.
![Viewport](https://user-images.githubusercontent.com/79214079/108513720-44006d80-72c3-11eb-8203-def2f4eb7302.PNG)

[2021-02-19 14:58] juney-lee commented on #240
Hi @PRASIDH12. Unfortunately, From Features is still very buggy and is very sensitive to the geometry of the input objects (i.e. the location of the openings, the curvature of the boundary curves, etc). We are currently working on a solution for this and hope to update the functionality with the next release.

[2021-02-19 15:24] juney-lee commented on #229
@laurenolte We are working on fixing FromFeatures, and hope to update it in our next release. You can certainly use FromSurface(s)to generate quad meshes, but note that the surface(s) can only have 4 boundaries. For example, you could use a chain of connected quad surfaces (so Rhino Polysurface made of joined, 4-sided surfaces) as an input, and use FromSurface(s) to generate the quad-mesh pattern.

[2021-02-19 15:27] juney-lee commented on #241
Also, the 'None Type' errors usually happen when you have multiple Rhino windows/sessions open. If you are using an existing file to start, I would close all Rhino windows/sessions, then start a new Rhino session with that file directly from the start by opening it, rather than starting Rhino then opening the file.

[2021-02-22 09:39] brgcode commented on #239
@aliam2904 do you by any chance have a Python registered on `PATH`? the `numpy` installation in the error message seems to belong to a different Python installation than the one used by RV2...

[2021-02-22 09:40] aliam2904 commented on #239
I do have python installed through Spyder.

[2021-02-22 09:49] Licini commented on #239
Hi @aliam2904 , It looks that it tries to import a locally install `numpy` rather than the one shipped with RV2, if you temporarily remove "C:\Users\Ali\AppData\Roaming\Python\Python37\site-packages\numpy_init.py" would it install?

[2021-02-22 10:02] aliam2904 commented on #239
Thank you for your help! I think it worked now! :D

[2021-02-22 10:25] Licini commented on #239
Great!

[2021-02-22 11:47] brgcode commented on #239
not entirely sure we can consider this "solved" though. it just confirms that the problem is indeed related to the wrong `numpy` being used...

[2021-02-23 15:06] tciblac opened #242 "Initialise RV2 problem"
Dear Lady
Dear Sir

**Describe the bug**
A clear and concise description of what the bug is.

After installing the plugin and cliking on "Initialise RV2 " the following message appears:

Traceback:
  line unknown, in <module>, "<string>"
  line 245, in start_server, "C:\Users\tciblac\AppData\Roaming\McNeel\Rhinoceros\6.0\scripts\compas_cloud\proxy.py"
  line 98, in __init__, "C:\Users\tciblac\AppD

[2021-02-23 19:33] brgcode commented on #242
@Licini

do note the top level error message which seems to suggest a unicode problem ("Impossible de traduire les octets [E9] à l'index 0 à partir de la page de codes specifiée en Unicode")

[2021-02-23 19:35] brgcode commented on #242
unicode character E9 is "é"

[2021-02-23 19:36] brgcode commented on #242
@tciblac does this ring a bell? is RV2 installed via some path with special characters?

[2021-02-24 09:22] capellimi opened #243 "Problem reactivating RV2 after using 3GS in Rhino"
After using Rhino 3GS this autumn semester for csd1 I now cannot initialise RV2 in Rhino anymore , when I do I get a disclaimer stating that "reactivation is needed" and then the following Python Script Error message:

Traceback:
  line unknown, in <module>, "<string>"
  line 72, in activate, "C:\Users\capel\AppData\Roaming\McNeel\Rhinoceros\6.0\scripts\compas_rv2\activate.py"
  line 50, in RunCom

[2021-02-24 09:24] brgcode commented on #243
@Licini @juney-lee

[2021-02-24 10:58] Licini commented on #243
hi @capellimi , what was the 3GS version you were using?
Could you try to delete `C:\Users\YOUR_USERNAME_HERE\AppData\Roaming\compas-dev\COMPAS`
Then reinstall RV2 and see if it works?

[2021-02-24 12:48] capellimi commented on #243
This fixed the issue, RV2 runs smoothly now, thank you!
3GS Version was 0.4.2

[2021-02-24 12:48] #243 closed

[2021-02-24 14:00] tciblac commented on #242
Thank you for your answer.
I checked that the RV2 folder is in a folder named "mysoftware' whithout "é" directly on the HD.
The path seems to be correct.

Best regards,

![erreur initialise RV2_2](https://user-images.githubusercontent.com/79518810/109011185-ee580680-76b0-11eb-86bf-3a149d91345d.JPG)

[2021-02-25 11:15] juney-lee commented on #130
being addressed in issue #197

[2021-02-25 11:15] #130 closed

[2021-02-25 11:16] juney-lee commented on #180
included in #136

[2021-02-25 11:16] #180 closed

[2021-02-25 13:12] #227 closed

[2021-02-25 13:12] #226 closed

[2021-02-25 13:14] juney-lee commented on #241
@avwylick I think this issue has been resolved, as discussed in our email exchange. Let us know if you have any further questions or problems!

[2021-02-25 13:14] #241 closed

[2021-02-25 13:19] juney-lee opened #244 "from features - hard code"
A light version of "pattern from feature" function needs to be hard-coded to be more stable and usable.

To replace existing, rpc-based version based on compas_singular.

[2021-02-25 13:20] brgcode commented on #244
on it!

[2021-02-25 13:24] #118 closed

[2021-02-25 13:24] #119 closed

[2021-02-25 13:24] #120 closed

[2021-02-25 13:24] #121 closed

[2021-02-25 13:24] #122 closed

[2021-02-25 13:24] #123 closed

[2021-02-25 13:24] #124 closed

[2021-02-25 13:24] #125 closed

[2021-02-25 13:24] #183 closed

[2021-02-25 13:24] #184 closed

[2021-02-25 13:24] #185 closed

[2021-02-25 13:26] juney-lee opened #245 "from features"
all issues and tasks related to from features functionality.

[2021-02-25 13:28] juney-lee opened #246 "installation"
all issues and tasks related to installation, initialization or set up issues.

[2021-02-25 13:39] #128 closed

[2021-02-25 13:39] juney-lee commented on #128
This info (and other organizational info, conventions, etc) has been moved to the BRG ZenHub manual (GitBook).

[2021-02-25 13:41] juney-lee opened #247 "usage"
all issues and tasks, and requests for help, related to using certain features and functions.

[2021-02-25 14:24] dforman33 opened #248 "Initialization - exception error"
Hello, I have done all the steps shown in the manual but when trying to initialise the plugin on R6 I get the following error. Does anyone have any ideas? I have done the first step typing EditPythonScript in the command bar and then installed the plugin. Thanks in advance

![image](https://user-images.githubusercontent.com/45009275/109166624-cfbb4380-7774-11eb-969d-7b769a92e82c.png)

[2021-02-26 11:18] juney-lee opened #249 "GitBook - update examples"
examples, tutorial, various sections need to be updated (last update was early fall 2020)

[2021-02-26 11:21] juney-lee opened #250 "documentation"
tasks and issues related to documentation (GitBook, API)

[2021-03-01 09:47] Licini commented on #248
Hi @dforman33 , According to the log, the plugin fails at starting the background server, it could be things like firewall blocking the server etc. It's a bit tricky to tell yet cuz the error message are blocked by the text field. Could you use mouse to select the text behind and copy paste them so we can see the full error description? That will help a lot

[2021-03-01 18:01] saifasadah opened #252 "cant choose objects"
Rhino 7 with the latest update as of today. 01 03 2021

everything was installed and seemed running well but when I try to hover over an object with the cursor ( after choosing create a mesh ) it does not choose it or even highlight it. , its as if the cursor does not recognize it ... ( cursor was on edge marked in red )
I also did try what was mentioned in the website to add 'EditPythonScript'

!

[2021-03-02 12:41] saifasadah commented on #252
Thank You it is working Now... :) did not place the files in an easily accessible folder as instructed.

[2021-03-03 17:57] dforman33 commented on #248
Hi Licini, I have tried reinstalling and also carrying out all the steps again. With regards to copying the text, unfortunately, I am not able to copy the text above the error message and I have not found any workaround.  I have seen in other discussions that some people experienced issues with the server. Can I ask what is the solution when that happens. I.e. what do we need to allow in the firew

[2021-03-05 02:09] yasmintjk opened #253 "Installation issues"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots or video record to help e

[2021-03-05 02:10] yasmintjk commented on #253
I followed all these steps for installing RV2 https://blockresearchgroup.gitbook.io/rv2/quick-start/windows-install , when I Initialise RV2 I receive the error Unknown command: -_RV2init . Would you please help me fix this

[2021-03-05 10:22] Licini commented on #253
Hi @yasmintjk , just to double check, did you run `EditPythonScript` at lease once and restart rhino?
Also please provide more information about your OS, Rhino version and RV2 version that you are using

[2021-03-05 10:23] Licini commented on #252
Cool, will close this issue now. Let us know if you run into other problems.

[2021-03-05 10:23] #252 closed

[2021-03-05 10:35] Licini commented on #248
Hi @dforman33

You can turn off firewall in control panel:
![image](https://user-images.githubusercontent.com/17893605/110103311-17aa1e00-7da6-11eb-83d7-64c65d2b76eb.png)
And if you have any ant-virus software also temporary disable them.

But please only do this while you are testing this error.

[2021-03-05 10:37] Licini commented on #248
@dforman33 Could you run this script in `EditPythonScript`, and see what kind of message it shows?
[code]

![image](https://user-images.githubusercontent.com/17893605/110104114-0877a000-7da7-11eb-9ac5-492dd147ed28.png)

[2021-03-05 10:50] Licini commented on #242
@brgcode the error was raised at `subprocess.poll()` , to me it looks like the subprocess is having problem parsing the character.. I'm looking at what can we do with it

[2021-03-08 03:32] yasmintjk commented on #253
I ran Editpython script, did I have to close rhino after that and open it
again?

On Fri, Mar 5, 2021 at 3:23 AM Li <notifications@github.com> wrote:

[2021-03-08 03:33] yasmintjk commented on #253
I'm using windows 10 , 64-bit
Rhino 7
RV2 1.0.0

On Sun, 7 Mar 2021 at 20:31, yasmin tajik <yasmintjk@gmail.com> wrote:

[2021-03-08 03:38] yasmintjk commented on #253
When I run editpythonscript and close rhino , the rhino edit python panel
get close as well I'm not sure if it is a problem

On Sun, 7 Mar 2021 at 20:33, yasmin tajik <yasmintjk@gmail.com> wrote:

[2021-03-08 03:46] yasmintjk commented on #253
I just tried to reinstall it with RV2 v1.1.7

On Fri, 5 Mar 2021 at 03:23, Li <notifications@github.com> wrote:

[2021-03-08 19:37] dforman33 commented on #248
Hi Licini,

This is the error it throws when running the short script you sent. I am looking into the firewall and will check if this resolves the problem. Thanks a lot for your support.

David

Message: Traceback (most recent call last):
  File "C:\Data\RV2\env\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Data\RV2\env\lib\runpy.py", line 85, in _run_code

[2021-03-12 12:10] APVF1 commented on #222
i ran the EditPythonScript then ran initaile RV2 and i get a window possping saying

Exception Occured
Message: name `RV2init_cmd` is not defined

Traceback:
  line unknown, in <module>, "<string>"
  line 1, in <module>, "<string>"

![Screenshot 2021-03-12 120843](https://user-images.githubusercontent.com/80523485/110938446-cbbe2280-832b-11eb-88bc-7b0fe7793ec7.png)

could you help please

[2021-03-12 15:19] APVF1 opened #254 "RV2 initialisation error message RV2 v1.1.7"
Hi there

i recently upgraded to  rhino V7
I have installed RV2 v1.1.7
i have run EditPythonScript
I have run the RV2 intialisation

i get the following message window

![Screenshot 2021-03-12 120843](https://user-images.githubusercontent.com/80523485/110959207-60814a00-8345-11eb-980f-28e46bd45f24.png)

Could someone please help me resolve this error message

my operating system is windows 10

[2021-03-14 11:50] marc-romu commented on #253
Same issue doing the same process with the same software versions.

[2021-03-15 10:33] Licini opened #255 "Make RV2 compatible with compas1.x"
Lets update RV2 to latest apis of COMPAS so people and use it programmatically without being locked to the older version

[2021-03-15 10:41] Licini commented on #253
@yasmintjk @marc-romu Could you guys re-run the installer upload a screenshot at the end of the installation? Thanks
![image](https://user-images.githubusercontent.com/17893605/111141021-4d5bbd80-8583-11eb-9631-ca94b9fd372e.png)

[2021-03-15 10:44] Licini commented on #254
Hi @APVF1 Seems people having issue recently on RV2 with Rhino 7. Could you re-run the installer and upload here a screenshot at the end of installation? Thanks
![image](https://user-images.githubusercontent.com/17893605/111141302-ac213700-8583-11eb-992d-f5d473a8f7d8.png)

[2021-03-15 11:50] APVF1 commented on #254
Hi Licini - please see screenshot attached below
![Capture](https://user-images.githubusercontent.com/80523485/111149253-8fd1ca00-8584-11eb-9df6-3e833dad2fa6.JPG)

[2021-03-15 12:13] APVF1 commented on #254
once i reinstalled and restarted it seems to have worked. thanks

[2021-03-15 12:13] #254 closed

[2021-03-16 11:51] archz2 opened #256 "vertical eq - Maximum height limitation"
I am trying to build a shell structure with height of 80 mm but the result gives me 27.1mm.

![image](https://user-images.githubusercontent.com/66735186/111304554-e53cd280-867b-11eb-81b5-9da3b8123d22.png)

How can I ensure about the maximum height limitation with respect to the shape in the plan?

[80 height, but result 27.1.zip](https://github.com/BlockResearchGroup/compas-RV2/files/6148691/80.he

[2021-03-16 17:32] archz2 opened #257 "vertical eq - Uneven height in shell made from polysurface"
I'm trying to make a shell from a polysurface. In two zones the height is uniform, but on the right hand side, the height gets extremely steep. The vertices are all the corners of the polysurface.
![image](https://user-images.githubusercontent.com/66735186/111353694-8db65b00-86ab-11eb-89d8-c33b2d9fb758.png)

What am I doing wrong? I don't give any target height. When it asks for target height, the

[2021-03-16 17:47] archz2 opened #258 "horizontal equilibrium - maximum number of iterations"
What is the maximum number of iterations one should try with horizontal equilibrium to reach it? I mean is there any specific limit before which one should stop and redefine the boundary conditions, change vertices, change geometry, etc. ?

I tried till 3000 and did not got horizontal equilibrium. Unfortunately I deleted the file and cannot replicate the issue now.

[2021-03-17 10:13] juney-lee commented on #257
Hi @archz2. First of all, I would recommend resolving the horizontal equilibrium first before fine-tuning the geometry of the ThrustDiagram (vertical equilibrium). Some of the angle deviations in the image you uploaded are as high as 49. You should repeatedly run horizontal equilibrium (while also modifying the Pattern as needed) until you do not see these colorful dots anymore. Secondly, I would

[2021-03-17 10:25] juney-lee commented on #258
There is no set minimum or a maximum number of iterations required for a design problem. It mainly depends on your primary objective and the phase of the design process you are in. For example, if you are quickly trying out different solutions as fast as possible during conceptual design, you could make the judgement call and think about raising the angle tolerance to, say something like 15 (while

[2021-03-17 19:24] brunoCM77 commented on #253
I'm having the same issue
![WhatsApp Image 2021-03-17 at 16 23 39](https://user-images.githubusercontent.com/80852670/111526220-3b257f00-873d-11eb-9a5f-86d8a3b6f340.jpeg)

[2021-03-17 19:25] brunoCM77 commented on #253
I have the same software specification of the others

[2021-03-18 15:01] brunoCM77 commented on #253
I solved my problem by open again the "EditPythonScript" while I initialized RhinoVault.

[2021-03-18 16:31] archz2 opened #260 "Unable to use "from features" option"
I am facing an unusual trouble. I can work with from mesh, from lines, from skeleton but I cannot use the "from feature"option.  Everytime I run that option, I get the following list of errors.

Traceback:
  line 339, in from_lines, "C:\Users\mylaptopname\AppData\Roaming\McNeel\Rhinoceros\7.0\scripts\compas\datastructures\mesh\core\mesh.py"
  line unknown, in <module>, "<string>"
  line 23, in __i

[2021-03-18 16:32] archz2 commented on #257
Okay. Thanks. I'll run more iterations and get back to you.

[2021-03-18 16:35] archz2 commented on #258
Okay. So in your experience, what is the maximum number by which I should stop trying and reconfigure my geometry? I last gave up on 1000.

[2021-03-20 08:10] marc-romu commented on #253
I rerun the installer and now it works. I don't know which was the error.

This is the screenshot of the end of installation:

![imatge](https://user-images.githubusercontent.com/49920661/111863433-d5630e00-895b-11eb-9b36-9b655bf9d9a4.png)

[2021-03-20 08:48] ViM59 opened #261 "No network Available - Rhinovault 1"
I know this report is dedicated to RV2 issues, but I hope someone can help me with RV1 installation.
I need to use Rhinovault version 1.401, or lower, but when I try to initialize the plug-in, the message you see in the picture appears with the warning "No Network Available".

![screen bug](https://user-images.githubusercontent.com/81009635/111864100-57086b00-895f-11eb-9cdd-1d0a0a438626.jpeg)

Cli

[2021-03-21 15:06] archz2 commented on #59
How do I make this stereotomy models using Rhinovault?

[2021-03-22 09:50] archz2 opened #262 "Trying to understand force diagrams"
I am trying to understand the meaning of lines and their direction in force diagrams. I made this shell structure with 3 edges fixed on ground and one edge becoming the arched boundary eventually

![image](https://user-images.githubusercontent.com/66735186/111971073-fd9c6980-8b21-11eb-8c4b-9b6bdc4e9823.png)

![image](https://user-images.githubusercontent.com/66735186/111971143-0ee57600-8b22-11eb-8

[2021-03-24 09:11] juney-lee commented on #261
Hi @ViM59. Indeed, we no longer provide support for RhinoVAULT 1. Is there a reason why you need to use the first version?

[2021-03-24 09:15] juney-lee commented on #262
Your question is more about the theoretical background of Thrust Network Analysis. I would recommend you to check out this paper
[https://block.arch.ethz.ch/brg/publication/interactive-vault-design](url). Although the paper was written during the development of RhinoVAULT 1, the concepts and the general worfklow are exactly the same.

[2021-03-24 12:52] juney-lee commented on #260
As implemented, `FromFeatures` is very sensitive to the layout of the input geometry (i.e. the narrowness of the space between the rectangle and the inner circle). This common error is something we are aware of and it is being addressed as we speak. It will be updated in the next release of RV2. Thanks for your patience!

[2021-03-25 12:09] Aranjn opened #263 "Help: I get Error: line unknown, in <module>, "<string>""
Hi, When I use (Modify Pattern) this error occurs: (I use Rhino 7 and latest release of RV2 v1.1.7)  I tried to Create Pattern from Mesh, Surface, Line..) and every time the same error: Can someone please help me with this? I followed the exact recommendation for the installation. I tried to delete and re-install RV2 a few times (Even using older versions). I turned off firewall in control panel a

[2021-03-26 13:14] juney-lee commented on #59
This feature is not included in the RV2 plugin. Although, one could use the equilibrated ThrustDiagram as the starting mesh, and develop such fabrication geometries through more customized scripts using COMPAS. We hope to include such pipeline in the RV2 documentation as one of the examples in the future.

[2021-03-30 20:24] ignaciosalinasb commented on #263
same error and same system

[2021-04-02 21:12] Behy96 commented on #175
@Licini I have the same problem of @wesamasali, but even worse, since the file you are referring to [1] does not exist on my computer!

[1] YOUR_RV2_LOCATION\RV2\dev\env\python -m compas_cloud.server

Can you please help me out?

[2021-04-13 14:18] Licini commented on #263
Hi @Aranjn @ignaciosalinasb ,thanks for the feedback, we are looking into the problem...according to the log we can already rule out possibility of network problems. It's more like some bugs in UI commands. Just a wild guess, have you guys tried to close the toolbar (rv2.rui) from the `Toolbar Layout` and reload again?

[2021-04-15 23:40] EvaMenia opened #264 "RV2"
I installed the rv2 properly but my problem is when I choose the commands like Initialise and the others, it says; Unknown command: -_RV2init, or Unknown command: -_RV2tna_vertical, or Command: -_RV2pattern_from_lines.

Please help me, I am so thankful!

[2021-04-23 14:07] robin-oval opened #265 "RV2 realease 1.1.8 problem with pattern from mesh and vertical equilibrium"
Hi,

I just tried the latest release 1.1.8 and got the following errors:

for pattern from mesh, directly when I clicked on the button:
<img width="1280" alt="Screenshot 2021-04-23 at 14 54 58" src="https://user-images.githubusercontent.com/34314884/115883178-69396580-a445-11eb-8d0e-8d8a848873a5.png">

for vertical equilibrium on a simple set of form and force diagrams, it seems that the problem i

[2021-04-24 14:24] hexistent opened #266 "KeyError: attributes"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I recently downloaded the file from the rhino vault website
2. Following the instructions from the rhino vault website to create a pattern using the British museum input geometry file.
3. ![image](https://user-images.githubusercontent.com/24304554/1

[2021-04-26 17:08] claudiofeldman opened #267 "AttributeError: el objeto 'NoneType' no tiene ningún atributo 'Attributes'"
Hello ... I just opened the workshop-Live Academy file, - trying to see on my screen the simplest example 1) grid, ... and it reports an error? ... The incomprehensible truth! RV2 version .... 1.1.7 .... I had previously worked with RV2, but I don't understand why I get an error when selecting only the grid lines? .. Rhino 6.Windows. Could it help to understand why you get errors with such simple

[2021-04-26 17:16] claudiofeldman commented on #267
Video error...? The simplest example : error !?????.........................

https://user-images.githubusercontent.com/24320798/116123760-b1fe5200-a6c3-11eb-8d02-bbb60ef36980.mp4

[2021-04-26 17:17] claudiofeldman commented on #267
Help, please...
( i dont understand this type errors !...crazy)
Thanks
........................

[2021-04-27 17:26] olivier-evd opened #268 "UnboundLocalError: Local variable 'skeleton' referenced before assignment."
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-04-27 17:29] olivier-evd opened #269 "AttributeError: 'NurbsCurve' object has no attribute 'Explode'"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-04-27 17:38] olivier-evd opened #270 "AttributeError: 'NoneType' object has no attribute 'Attributes'"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-05-05 23:50] ajinkyapehekar opened #272 "FileNotFoundError: [WinError 3]"
C:\rv2\RV2>C:\rv2\RV2\env\python.exe -m compas_rv2.install

 ---------- Checking packages ----------
   compas               OK
   compas_rhino         OK
   compas_tna           OK
   compas_cloud         OK
   compas_skeleton      OK
   compas_singular      OK
   compas_rv2           OK
RV2 is editable install:  False

 ---------- Installing RV2 python plugin ----------
Plugin path: C:\Users\aji

[2021-05-06 07:17] Licini commented on #272
@ajinkyapehekar You might need to run `Editpythonscript` once in rhino, and check if the folder in the error message is created. If yes then run the installer again, it should work.

[2021-05-06 07:21] Licini commented on #270
@brgcode is this that bug triggered when re-opening a file in rhino?

[2021-05-06 07:29] brgcode commented on #270
that could be. i don't see any particular other reason, since it is a very basic pattern function that is not really supposed to fail...

[2021-05-06 07:53] ajinkyapehekar commented on #272
Hi, @Licini  tried editpythonscript and reinstalling rv2 the error still continues. in Rhino it shows the unknown command for initialization. also, I notice double \\ marks in the address that it is trying to find. is that an issue?

[2021-05-06 07:53] ajinkyapehekar commented on #272
![Screenshot (508)](https://user-images.githubusercontent.com/83735667/117261862-40b26200-ae6e-11eb-9263-65bd2bc23b5a.png)

[2021-05-06 07:55] brgcode commented on #272
can you check that Rhino is installed on your user profile and not, for example, on the shared user profile?

[2021-05-06 08:00] ajinkyapehekar commented on #272
@brgcode  How can I do that?

[2021-05-06 08:02] brgcode commented on #272
check if the directory mentioned in the error actually exists...

[2021-05-06 08:06] ajinkyapehekar commented on #272
It does not exist. Windows can't find the loocation

[2021-05-06 08:10] brgcode commented on #272
can you check if the folder exists in a similar location? go to `C:\Users` and check the other profiles for a similar path...

[2021-05-06 08:24] ajinkyapehekar commented on #272
I'm using rhino 7. So  "C:\Users\ajinkya pehekar\AppData\Roaming\McNeel\Rhinoceros\7.0\Plug-ins" exists. The installer is looking for 6.0

[2021-05-06 08:37] brgcode commented on #272
which version of RV2 are you installing? the latest installers should give you the option to install for Rhino 7...

[2021-05-06 09:07] ajinkyapehekar commented on #272
RV2 v 1.1.6
https://www.food4rhino.com/app/rhinovault-2

[2021-05-06 09:32] brgcode commented on #272
https://github.com/BlockResearchGroup/compas-RV2/releases
please try `1.1.9`

[2021-05-06 10:38] brgcode commented on #272
in fact, better to use `1.1.10-rc0`... sorry about that!

[2021-05-06 11:21] ajinkyapehekar commented on #272
Just installed 1.1.9 and it did initialize. Thank you for the support :)

[2021-05-06 11:23] brgcode commented on #272
just so you know, there is a bug in `1.1.9` with skeleton. it is fixed in `1.1.10`... reinstalling should not take more than a few minutes. we will make an update function available soon.

@Licini see "we will make an update function available soon" :)

[2021-05-06 11:39] ajinkyapehekar commented on #272
Before reinstalling I should uninstall the previous version first and delete the files right?

[2021-05-06 12:16] brgcode commented on #272
ideally, yes. if you already started the server you will have to shut it down first though (otherwise you cannot delete the folder). just go to the task manager and look for a process with the name Python and kill it...

[2021-05-06 13:02] ajinkyapehekar commented on #272
It Worked. Thank You.

[2021-05-06 13:02] #272 closed

[2021-05-06 18:00] JosuaHefti opened #273 "Add Point Loads"
# Add Point Loads

As a student, I want add point loads to change the loading case and with that change the form of the shell.

## Idea

My group and me are trying to model a structure, were a platform is hang from a shell. Therefore I want to modify the force, acting on the points, where the steel cables are fixed.

[2021-05-10 15:00] claudiofeldman opened #274 "Questions and doubts when using RV2"
[Hello.pdf](https://github.com/BlockResearchGroup/compas-RV2/files/6453004/Hello.pdf)
Good morning
I would like to be able to formulate a query, using RV2, and having found some doubts.
(To ask those questions, put together a pdf, which I attach here).

Thank you very much for your attention
Greetings

[2021-05-11 08:53] derek8833 opened #275 "AttributeError: 'NoneType' object has no attribute 'Id'"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-05-11 09:21] brgcode commented on #274
hi claudio,

about your questions.

1. i have no idea what you are trying to do here, but in any case, an outward curving unsupported boundary arch is not possible in a compression-only structure without some kind of additional tension element.
2. if you want some kind of "tunnel"-like geometry, you will have to constrain the forces accordingly. here is an example of how to do that for a barrel va

[2021-05-11 09:22] brgcode commented on #275
could it be that this happened after opening a new Rhino file or window? to open a new file, you will have to restart Rhino (otherwise RhinoPython gets confused), or use the `Import` command instead...

[2021-05-11 09:37] derek8833 commented on #275
Thanks for your advice. Let me check.

「Tom Van Mele ***@***.***>」在 2021年5月11日週二，下午5:23 寫道：

[2021-05-11 21:41] claudiofeldman commented on #274
Thanks

Claudio J.Feldman ,arq.
*www.architecturalartist.be <http://Www.architecturalartist.be>*

.............................................

El mar, 11 de may. de 2021 a la(s) 11:21, Tom Van Mele (
***@***.***) escribió:

[2021-05-16 06:37] LiangH97 opened #277 "RuntimeError: subprocess terminated, reason unknown"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

[2021-05-16 06:41] LiangH97 opened #278 "RuntimeError: subprocess terminated, reason unknown"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

[2021-05-16 08:21] LiangH97 opened #279 "Installation issues"
Excuse me, I am very interested in rhinovault, but unfortunately, I have not been successfully installed. This bothers me. After the first download and display error, I installed rhino vault uninstall and then I have a problem with installation failure. I hope to get answers
![2021-05-16 (2)](https://user-images.githubusercontent.com/69096770/118390632-b1256400-b662-11eb-9cb6-edf2bc2c695e.png)

[2021-05-20 06:12] archz2 opened #280 "Installation issue of RV2 v 1.1.10rc4 and rc3"
Few minutes back I downloaded the setup of 1.1.10rc4 version of Rhinovault2. This box with green progress bar comes.

![image](https://user-images.githubusercontent.com/66735186/118928050-4fb20d80-b960-11eb-9683-95644fb6ecbd.png)

After that I get a white screen in which nothing happens. I kept waiting for 20 minutes then closed it. I also restarted my laptop but I still get the same issue. My win

[2021-05-20 08:24] aman007atal opened #281 "RhinoVault not Initiating"
I have installed RhinoVault in Rh7. it gives me this error when I initiate - Unknown command: -_RV2init. Any idea what is issue?

[2021-05-20 10:05] aman007atal commented on #280
Hi, I have same issue, did you find any solution? rc3 is not workingas well.

[2021-05-20 13:16] FrancescaGuarnieri opened #282 "Rhino Vault 2 not initiating in Rhino7"
**Issue**

Despite following the command 'EditPythonScript' multiple times, then closing Rhino, then reopening it,

![image](https://user-images.githubusercontent.com/84513124/118983615-e8ef1d00-b97c-11eb-80e1-c3ef884f1fea.png)

when proceeding to initialise RV2, I always get the message 'Unknown command:-_RV2init'

![image](https://user-images.githubusercontent.com/84513124/118984758-1b4d4a00-b97

[2021-05-21 00:54] mhhadini opened #283 "Creating Pattern from Surface error from non rectangular surface"
Hello so i just started rhinovault and i want to create a pattern from surface from a simple a ellips surface, but i keep on getting a phyton script error, as seen on the screenshot. i reinstalled the rhinovault, restarted rhino, installed the latest phyton script but i still have this issue.

![Phyton script error](https://user-images.githubusercontent.com/84549870/119066103-3b761b00-ba09-11eb-9c

[2021-05-21 01:50] mhhadini commented on #283
i'm sorry i typed wrong, my rhino version is Rhino 6

[2021-05-21 05:28] archz2 commented on #280
Hi Aman. I didn't find any solution. Instead, I installed rc2 yesterday. It got installed fine. Didn't robustly test it. I only used the option of "from features" which always used to crash on the stable release (v1.1.7). It is working for me in this version.

[2021-05-21 05:29] archz2 commented on #283
I don't know the answer but maybe you can upgrade to version 1.1.7 which is the most updated stable version. Probably due to some bug in 1.1.6 you are facing this issue.

[2021-05-21 07:37] brgcode commented on #283
hi, can you post a picture of the input geometry? or, even better, a sample file?

[2021-05-21 07:38] brgcode commented on #280
@Licini ping

[2021-05-21 07:39] aman007atal commented on #280
Thanks for this info. I am using v1.1.7 and its not working. I will try rc2. Thanks for help

[2021-05-21 07:58] mhhadini commented on #283
![Input](https://user-images.githubusercontent.com/84549870/119103010-e0621980-ba44-11eb-8158-0f4d7e89b07a.JPG)

the input was just a simple circle, i tried making some trimmed shape before and it responded the same

[2021-05-21 08:12] mhhadini commented on #283
I installed the 1.1.7 ver and tried simple shape like a round planar surface, and some trimmed surfaces. but it came out error somehow.

![example](https://user-images.githubusercontent.com/84549870/119104540-95e19c80-ba46-11eb-92d1-5ed3b6477fe8.JPG)

[2021-05-27 13:03] huss191998 opened #284 "KeyError: RV2.sessions"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-05-27 15:07] huss191998 opened #285 "TypeError: 'NoneType' object is not iterable"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-05-31 10:25] #255 closed

[2021-05-31 10:26] Licini commented on #138
@juney-lee @wenqian157 can this issue now be closed?

[2021-05-31 10:27] Licini commented on #211
@brgcode This is able to be closed right?

[2021-05-31 10:27] #211 closed

[2021-05-31 10:28] #219 closed

[2021-05-31 10:29] #261 closed

[2021-05-31 10:30] Licini commented on #262
Closing the issue seems the discussion is resolved

[2021-05-31 10:30] #262 closed

[2021-05-31 10:37] Licini commented on #282
hi @FrancescaGuarnieri, thx for the feedback, any version with `rc` post-fix stands for `release candidate` which means they are pre-releases that are not yet stable.

Please use the latest formal release `1.1.7` if you are experiencing problems with the rc.

[2021-05-31 10:38] Licini commented on #265
hey @robin-oval 1.1.8 was a bit buggy and pre-mature so we have removed it. Please try `1.2.0rc0` or `1.1.7` instead

[2021-05-31 10:41] Licini commented on #253
seems resolved, closing the issue, @yasmintjk let me know if you still having any problems.

[2021-05-31 10:41] #253 closed

[2021-05-31 10:47] Licini commented on #280
hi @archz2 @aman007atal versions with `rc` post-fix are pre-releases so they can be a bit un-tested. The however said bug should now be addressed in latest `1.2.0rc0`. Otherwise please fall back to latest stable version `1.1.7`

[2021-05-31 10:47] #280 closed

[2021-05-31 10:49] Licini commented on #285
hi @huss191998 we'd need further description on your error to help us reproduce the bug

[2021-05-31 10:50] Licini commented on #284
hi @huss191998 we'd need further description on your error to help us reproduce the bug

[2021-05-31 10:55] Licini commented on #283
@mhhadini this looks a bit a known bug from Rhino side that if init rv2 and then use rhino to open another file, this error will show up. Could try to open you file directly and repeat the step? Also fromPolysufaces only supports untrimmed surface.

[2021-05-31 10:56] Licini commented on #281
did you run `EditPythonScritpts` ?

[2021-05-31 11:01] Licini commented on #279
@brgcode has this occurred before that bootstrapper cannot be installed? Could it be because of the space in user name?

[2021-05-31 11:04] Licini commented on #278
@LiangH97  Please re-submit the issue with a clear description of the error. Thanks

[2021-05-31 11:04] #278 closed

[2021-05-31 11:04] #277 closed

[2021-05-31 11:09] Licini commented on #270
@olivier-evd There is a known bug from Rhino side that if you re-open another 3dm file in rhino, it will cause RV2 to stop working. Let me know if you still have the error without doing that.

[2021-05-31 11:09] #270 closed

[2021-05-31 11:10] Licini commented on #269
@olivier-evd Could you provide your input file that causing this error?

[2021-05-31 12:02] juney-lee commented on #273
Hi @JosuaHefti, you can add a point load at a vertex by modifying the vertex attribute `pz` of the ThrustDiagram.

[2021-05-31 12:07] juney-lee commented on #258
This really depends on the overall design of the structure as well as the topology of the pattern. If you run more than 1000+ iterations and the deviations are not improving, it is a good opportunity to have a closer look at that particular area of the shell and consider modifying the design as mentioned in the previous comment.

[2021-05-31 12:10] Licini commented on #248
Hey @dforman33 this comes in a bit late, but from this version, RV2 uses a different default port that will avoid the error you are getting. Let me know if it works

[2021-05-31 12:10] #248 closed

[2021-05-31 12:12] juney-lee commented on #267
Hi @claudiofeldman, we are looking into the errors now.

If you would like to follow the [LiveAcademy tutorials](https://blockresearchgroup.gitbook.io/live-academy-2020-rv2/), I would recommend using RV2 version 1.1.6, which was used for that particular workshop and the examples.

[2021-05-31 12:19] juney-lee opened #286 "initialization"

[2021-05-31 12:23] juney-lee commented on #283
Hi @mhhadini, creating a pattern` From Surface(s)` requires as an input, a single untrimmed surface (must have 4 and only 4 boundaries with a UV space) or a chain of connected untrimmed surfaces. The reason why you are getting an error is that your input shapes are trimmed surfaces with more than 4 boundaries without a clear UV space.

[2021-05-31 12:24] juney-lee opened #287 "usage"

[2021-05-31 12:32] juney-lee commented on #264
HI @EvaMenia, please try running `EditPythonScritpts` in the Rhino Python editor and restarting Rhino.

[2021-05-31 12:39] #274 closed

[2021-05-31 14:42] juney-lee commented on #256
Hi @archz2, are you still having this problem? I just tried Vertical Equilibrium with your .rv2 session file with a target height of 80 and it worked fine.

![image.png](https://images.zenhubusercontent.com/5e26f82ce33c5e59629a8fa9/e0396b81-d39b-47b0-82dc-5fd389a9384d)

[2021-05-31 15:01] brgcode commented on #211
i think so

[2021-05-31 16:45] huss191998 commented on #284
Guys, Rhino 7 version has many bugs
Using default commands result a lot of bugs

On Mon, May 31, 2021, 12:50 PM Li ***@***.***> wrote:

[2021-05-31 16:54] aman007atal commented on #281
Yes, I had run edit python before installation

[2021-05-31 19:04] claudiofeldman commented on #267
Thank you!.
Yes, the last months,i used the version *1.1.7.*
Greetings
Claudio

Claudio J.Feldman ,arq.
*www.architecturalartist.be <http://Www.architecturalartist.be>*

.............................................

El lun, 31 de may. de 2021 a la(s) 14:12, Juney Lee (
***@***.***) escribió:

[2021-06-02 12:40] Licini commented on #281
This gonna sounds annoying... but did try to run it after installation again?

[2021-06-02 12:49] Licini commented on #282
@FrancescaGuarnieri Did you try this?
https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#i-still-have-unknown-command-error-after-executing-above-steps

[2021-06-02 12:49] Licini commented on #281
Also did you try this?
https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#i-still-have-unknown-command-error-after-executing-above-steps

[2021-06-02 12:50] #265 closed

[2021-06-02 12:51] Licini commented on #264
Also try this if above did not work
https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#i-still-have-unknown-command-error-after-executing-above-steps

[2021-06-02 12:52] aman007atal commented on #281
I do not remember using edit python after installation as in instructions
video it said to use it before installing so I definitely did that. I
installed version 1.7 and it work fine. Only 1 command was not working.

On Wed, 2 Jun 2021 at 6:20 PM, Li ***@***.***> wrote:

[2021-06-02 12:52] #239 closed

[2021-06-02 14:11] juney-lee commented on #268
Hi @olivier-evd, could you please provide us with some context? For example, a screenshot of your viewport and precisely during which step you are getting this error while using `RV2pattern_from_skeleton`?

[2021-06-02 14:16] juney-lee commented on #269
@olivier-evd You could be getting this error because the input surface may be trimmed and/or it has more than four boundary edges (the boundary doesn't necessarily need to be straight). `RV2pattern_from_surfaces_cmd` only takes as input untrimmed NURBS surface or group of joined, untrimmed NURBS surfaces.

[2021-06-03 08:51] claudiofeldman opened #288 "AttributeError: el objeto 'NoneType' no tiene ningún atributo 'Attributes'"
i can have an idea why this skeleton gives "Errror "?
 Simples lines, for a coverture-roof
 Help
 Thanks
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear

[2021-06-04 16:05] Licini commented on #281
Sounds good. Gonna close the ticket. Could you submit another on the command that's not working for you?

[2021-06-05 11:05] archz2 commented on #258
Okay. Thanks.

[2021-06-10 17:20] zhang-3-li-4 opened #289 "RV2 Rhino 7 Installation Issue"
**Describe the bug**
I am experiencing difficulty installing RV2
I have run the [editpythonscript] command and there are persistent errors as shown in the screenshot below

**Screenshots**
![2021 06 09_Installation Issue](https://user-images.githubusercontent.com/85699542/121568969-49a6ce00-c9ee-11eb-9cd4-f669410970d7.png)

**Desktop (please complete the following information):**
 - Windows 10 Pro

[2021-06-10 19:11] danmofu opened #290 "KeyError: RV2.sessions"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-06-10 20:01] danmofu opened #291 "KeyError: (0, 0)"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-06-11 10:02] Licini commented on #291
Hi @danmofu Could you provide your 3dm with the geometry that causing the error?

[2021-06-11 10:07] Licini commented on #288
@claudiofeldman Did you re-open another 3dm file after initiated RV2? This error is often seen after such action. Please try to open you 3dm file directly and then initiate RV2. If same thing happens, perhaps upload your input file here and I'll take a look.

Also v1.1.8 is a buggy release that has been taken down. I'd suggest to install the latest v1.2.0rc2 instead.

[2021-06-11 10:09] Licini commented on #290
@danmofu Any further information about the steps that raised the error? Was this at `RV2init` or something else?

[2021-06-11 13:54] morgie02 opened #292 "Vertical equilibrium found without horizontal"
Hi,

Using RV2, I have a vault with vertical equilibrium found whereas the horizontal one isn't.
Can I trust the vertical one to be in compression only despite of that ?
It is to compare to an existing vault : with the vertical equilibrium (pink one) it is quite close to the existing vault (the grey one) :
![image](https://user-images.githubusercontent.com/85748760/121697335-3e769f80-cacd-11eb-81b

[2021-06-12 08:21] ocabitza opened #293 "RV2 Rhino 7 Installation Issue on Mac"
Hi to all, I am having an issue while installing rv2 on Mac. I'm following the instructions on

[https://blockresearchgroup.gitbook.io/rv2/documentation/dev-installs/manual-install](https://blockresearchgroup.gitbook.io/rv2/documentation/dev-installs/manual-install)

When I launch the command

`pip install git+https://github.com/blockresearchgroup/compas-rv2.git#egg=compas-rv2`

at a certain point

[2021-06-12 18:54] markhorgan commented on #275
I get the same error when I follow the first example - [British Museum](https://blockresearchgroup.gitbook.io/rv2/examples-1/british-museum). I go to RhinoVAULT 2 > Create Pattern > From Features and select any of the 4 patterns and then get the error mentioned above.

Rhino Vault Version: 1.2.0rc2
Rhino Version: 7.6.21127.19001
OS: Windows: 10

[2021-06-12 19:14] markhorgan commented on #290
I get the same error. Steps to reproduce:

- Start Rhino
- Open the Rhino file from the [British Museum](https://blockresearchgroup.gitbook.io/rv2/examples-1/british-museum) example
- Go to `RhinoVAULT 2 > Create Pattern > From Features` and the error window appears

The first time I tried this I got this [error](https://github.com/BlockResearchGroup/compas-RV2/issues/275#issuecomment-860094423) b

[2021-06-13 07:29] ocabitza commented on #293
Installing Xcode solved the problem

`$ xcode-select --install`

[2021-06-14 09:19] Licini commented on #293
@ocabitza Happy to hear it resolved, I'm putting the solution into the documents too.

[2021-06-14 09:19] #293 closed

[2021-06-14 09:37] Licini commented on #290
Hi @markhorgan Thanks for the feedback, just for isolating the problem, did other pattern creation method work for you? Such as `from skeleton` https://blockresearchgroup.gitbook.io/rv2/documentation/user-manual/1.-pattern/create-pattern/from-skeleton

[2021-06-14 09:46] Licini commented on #275
@markhorgan @derek8833 This is due to a Rhino side problem that every time you reopen a new file, all RhinoPythonPlugins like RV2 stops working. So you when want to change file, you will have to restart Rhino first. See this in [Known issues](https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#after-opening-a-new-rhino-file-with-every-rv2-command-below-error-pops-up-did-i-do-somet

[2021-06-14 09:46] #275 closed

[2021-06-14 09:48] Licini commented on #288
Please see this for the reason of error how to avoid it: https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#after-opening-a-new-rhino-file-with-every-rv2-command-below-error-pops-up-did-i-do-something-wrong

[2021-06-14 09:48] #288 closed

[2021-06-14 09:59] markhorgan commented on #290
Every creation method in that sub-menu causes the same error.

[2021-06-14 10:03] markhorgan commented on #275
That must be a pain if you're developing this sort of plugin. Have you filed a bug report with McNeel?

[2021-06-14 10:18] Licini commented on #290
@markhorgan @danmofu It looks like you simply did not run `initialise RV2` before using the create pattern commands, is that the case?

[2021-06-14 10:21] Licini commented on #284
@huss191998 This bug is caused by skipping `initialise RV2`.  Try initRV2 first. If that's not the case please re-open the ticket.

[2021-06-14 10:21] #284 closed

[2021-06-14 10:23] Licini commented on #267
@claudiofeldman Please see here for the reason and how to avoid this error https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#after-opening-a-new-rhino-file-with-every-rv2-command-below-error-pops-up-did-i-do-something-wrong

[2021-06-14 10:23] #267 closed

[2021-06-14 10:36] markhorgan commented on #290
I did run `Initialise RV2`. Running it again fixes the error but when you restart Rhino the error returns so you have to run it every time you start Rhino.

[2021-06-14 10:44] Licini commented on #290
It was by design like that, you do need to run Init every time you start RV2. It does many necessary things like checking the plugin environment and starts the background server etc.

[2021-06-14 10:53] juney-lee commented on #292
Hi @morgie02. A horizontal equilibrium was not found for your pattern because the open boundaries are completely straight from one corner support to the next corner support. The pattern you have as input here (and the shell geometry you are trying to achieve, the gray one) represents a cross vault, where some of the edges would have no horizontal forces (the ones that are perpendicular to the open

[2021-06-14 12:41] morgie02 commented on #292
Thanks a lot @juney-lee for your answer,
I have seen the tutorial. Do you think I could manage to generate those others types of vault like fan vault and sexpartite vault (grey ones are existing and pink are trials)?
![image](https://user-images.githubusercontent.com/85748760/121893349-277abc00-cd1e-11eb-878f-d723e706f052.png)
![image](https://user-images.githubusercontent.com/85748760/121893392-3

[2021-06-14 12:57] juney-lee commented on #292
Hi @morgie02. These are all interesting problems and questions. However, as the RV2 issue tracker is intended for troubleshooting code-related issues and technical problems, please post these types of questions on the compas [forum](https://forum.compas-framework.org/). There, we can have a more productive dialogue on how to approach these design problems and questions.

[2021-06-14 13:00] morgie02 commented on #292
@juney-lee  Of course I will, sorry I didn't know that I wasn't at the right place, thanks.

[2021-06-15 09:58] #290 closed

[2021-06-17 20:40] zhang-3-li-4 commented on #289
Hello @Licini Licini thank you for your feedback. I was using my office's workstation and the IT crew was able to install it from their end. It is working perfectly now.

[2021-06-19 20:04] Alb79es opened #294 "Create a pattern from features with poles around point features"
I'm following the British Museum example but when I create the patterns for the figures B,C and D, I can't select the points as point features.  It moves directly to "Define the target edge length of the pattern" option.

I was looking in the User manual and it explains how to do it on a Mac. However I'm on Windows, so I couldn't find how to do it. Is it because it isn't available on Windows? I wo

[2021-06-20 09:10] ocabitza commented on #294
I have the same problem on a Mac with Rhino7, actually

[2021-06-20 10:23] ocabitza opened #295 "Pattern From Features Armadillo Vault Example - Rhino7 (Mac)"
I got an issue while trying to use the pattern from feature command on the trimmed surface of the armadillo vault example

[https://blockresearchgroup.gitbook.io/rv2/examples-1/armadillo-vault](https://blockresearchgroup.gitbook.io/rv2/examples-1/armadillo-vault)

The error I got is this:

`Traceback (most recent call last):
  File "/Users/myusername/Library/Application Support/McNeel/Rhinoceros/7

[2021-06-21 14:54] danmofu opened #296 "KeyError: 0"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-06-21 15:10] danmofu opened #297 "AttributeError: 'NoneType' object has no attribute 'Attributes'"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-06-23 09:11] #289 closed

[2021-06-23 09:22] juney-lee commented on #296
Hi @danmofu , could you provide us with a screenshot of your input geometry and at what step you are getting this error?

[2021-06-23 09:25] juney-lee commented on #297
Hi @danmofu, it looks like you may have opened a new file or RV2 file from a single Rhino window/session. Please restart Rhino (if you are using an existing Rhino file, open it directly from the start) and try again.

[2021-06-23 16:07] Licini commented on #294
Hi @Alb79es @ocabitza , the select point functionality for form_feature  was a bit buggy thus temporarily removed at the moment, we will keep you updated once it is re-enabled.

[2021-06-23 16:07] #292 closed

[2021-06-23 16:08] Licini commented on #291
Closing the ticket due no response

[2021-06-23 16:08] #291 closed

[2021-06-23 16:08] Licini commented on #285
Closing the ticket due no response

[2021-06-23 16:08] #285 closed

[2021-06-23 16:08] Licini commented on #282
Closing the ticket due no response

[2021-06-23 16:08] #282 closed

[2021-06-23 16:12] Licini commented on #297
@danmofu For the detail of this issue please refer to this.
https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#after-opening-a-new-rhino-file-with-every-rv2-command-below-error-pops-up-did-i-do-something-wrong

[2021-06-23 16:12] #297 closed

[2021-06-23 16:15] #283 closed

[2021-06-23 16:16] Licini commented on #269
Closing the issue due to no response

[2021-06-23 16:16] #269 closed

[2021-06-23 16:16] Licini commented on #268
Closing the issue due to no response

[2021-06-23 16:16] #268 closed

[2021-06-23 16:18] #264 closed

[2021-06-23 16:20] #260 closed

[2021-06-23 16:20] #258 closed

[2021-06-23 16:22] #257 closed

[2021-06-23 16:24] #240 closed

[2021-06-23 16:24] Licini commented on #236
Closing the issue due to no response

[2021-06-23 16:24] #236 closed

[2021-06-23 16:25] #232 closed

[2021-06-23 17:27] danmofu commented on #296
hi Li

Sorry about the delayed response.
I think I was just trying to input a flat poly surface for an armadillo
vault but for some reason it’s giving me the error messages.

On Wed, Jun 23, 2021 at 5:23 AM Juney Lee ***@***.***> wrote:

[2021-06-24 07:41] #273 closed

[2021-06-30 10:25] ar-saloni commented on #295
Hi, Im experiencing similar error. Please help

Windows 10
rhino 7
RV2- version 1.2.0rc2

[2021-07-15 03:41] lebstone opened #298 "AttributeError: 'NoneType' object has no attribute 'Id'"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-07-15 04:04] lebstone opened #299 "AttributeError: 'NoneType' object has no attribute 'Attributes'"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-07-19 13:20] Licini commented on #298
@lebstone Please refer to this: https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#after-opening-a-new-rhino-file-with-every-rv2-command-below-error-pops-up-did-i-do-something-wrong

[2021-07-19 13:20] #298 closed

[2021-07-19 13:20] Licini commented on #299
Please refer to this: https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#after-opening-a-new-rhino-file-with-every-rv2-command-below-error-pops-up-did-i-do-something-wrong

[2021-07-19 13:20] #299 closed

[2021-07-27 12:38] GuangenJ opened #300 "RuntimeError: subprocess terminated, reason unknown"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-07-27 13:34] GuangenJ commented on #300
![image](https://user-images.githubusercontent.com/88038463/127162852-e4e1fb9d-a70d-44d4-af64-2147a16ec220.png)

[2021-07-27 14:45] GuangenJ commented on #300
Could anyone can help? I'm using rhino 7.8.21196

[2021-07-31 10:36] rajuu388 opened #301 "KeyError: 0"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-07-31 10:38] rajuu388 opened #302 "UnboundLocalError: Local variable 'skeleton' referenced before assignment."
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-08-09 08:59] ocabitza opened #303 "No module named compas_cgal.meshing - Materialisation example"
Hi, while following the example "advanced: materialization", when I get to the "remesh" part I got the following error while running the python script

`Exception Occurred`
`Message: No module named compas_cgal.meshing`

I have tried to install cgal manually via conda-forge, but that didn't solved the issue.

- OS: Mac OS Big Sur;
- Rhino Version: 7;
- RV2 Version: 1.2.0

[2021-08-11 10:29] Shadi-alariss opened #304 "Exception: This option is not valid: -_RV2boundary_supports"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-08-14 04:46] bruno2301 opened #305 "AttributeError: 'NoneType' object has no attribute 'Id'"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-08-17 19:46] RefaatN opened #306 "Force E Diagram"
Hello everyone
And thank for BRG for this tool
And their amazing work.

Please sometimes i have these issues can someone help.
Thanks

 Issue for using Force Diagram  Command
Traceback:
  line unknown, in <module>, "<string>"
  line 486, in add_face, "C:\Users\Lenovo\AppData\Roaming\McNeel\Rhinoceros\6.0\scripts\compas\datastructures\mesh\core\halfedge.py"
  line 350, in dual_diagram, "C:\Users\Le

[2021-08-18 08:27] Licini commented on #305
Hi @bruno2301 This is a Rhino related bug. Please see the explanation here:
https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#after-opening-a-new-rhino-file-with-every-rv2-command-below-error-pops-up-did-i-do-something-wrong

[2021-08-18 08:28] Licini commented on #306
Hi @RefaatN Could you provide us a session `.rv2` file of the geometry you are working with?

[2021-08-18 08:35] Licini commented on #303
Hi @ocabitza The remesh example is not designed to run in Rhino, you need to setup your local dev environment with `conda` use an IDE such as `VSCODE`, and install `compas_cgal` https://compas.dev/compas_cgal/latest/index.html

[2021-08-18 18:32] RefaatN opened #307 "Python script error"
Hello BRG
thanks for this Platform

when using: "Force Diagram command"
i get this error
using RhinoVault2 version [e.g. 1.2.0]
 Traceback:

Line 486, in addface, "C:\Users\Lenovo\AppData\
Roaming\McNeel\Rhinoceros\
6.0\scripts\compas\datastructures\mesh\core\halfedge.py"

Line 350, in dual_diagram, "C:\Users\Lenovo\AppData\
Roaming\McNeel\Rhinoceros\
6.0\scripts\compas_tna\
diagrams\formdiagram.p

[2021-08-18 20:13] Chrismca opened #308 "Pattern Error on most geometry"
**Describe the bug**
Using Pattern fromFeature causes an error and deletes the NURB.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. [armadillo_vault_input_surface.zip](https://github.com/BlockResearchGroup/compas-RV2/files/7009929/armadillo_vault_input_surface.zip)
2. Command: Pattern FromFeature
3. screenshot
![image](https://user-images.githubusercontent.com/18691426/129965354-fc7d

[2021-08-24 10:46] brgcode opened #309 "RV@ examples in advanced are not to update"
see title

[2021-08-30 12:12] Zumcat opened #310 "RuntimeError: subprocess terminated, reason unknown"
[---](
![QQ图片20210830200921](https://user-images.githubusercontent.com/89782439/131337016-251954f4-757d-4f58-a645-305acc7b6789.png)
![QQ图片20210830201040](https://user-images.githubusercontent.com/89782439/131337021-a890601d-73e0-4ec3-aced-b728719d0373.png)
![QQ图片20210830201040](https://user-images.githubusercontent.com/89782439/131337073-59a2cf8f-fd68-4f9c-9591-d9446069e74d.png)
)))
name: Bug repo

[2021-08-30 12:13] Zumcat opened #311 "RuntimeError: subprocess terminated, reason unknown"
[---](
![QQ图片20210830200921](https://user-images.githubusercontent.com/89782439/131337016-251954f4-757d-4f58-a645-305acc7b6789.png)
![QQ图片20210830201040](https://user-images.githubusercontent.com/89782439/131337021-a890601d-73e0-4ec3-aced-b728719d0373.png)
![QQ图片20210830201040](https://user-images.githubusercontent.com/89782439/131337073-59a2cf8f-fd68-4f9c-9591-d9446069e74d.png)
)))
name: Bug repo

[2021-09-02 15:39] #250 closed

[2021-09-02 15:40] #286 closed

[2021-09-02 15:40] #287 closed

[2021-09-02 15:40] #246 closed

[2021-09-02 15:40] #247 closed

[2021-09-02 15:44] juney-lee commented on #256
Hi @archz2, I hope that this issue has been solved for you. Please let us know if you have any further problems.

[2021-09-02 15:44] #256 closed

[2021-09-02 15:45] juney-lee commented on #263
Hi @Aranjn @ignaciosalinasb, have you been able to resolve the issue?

[2021-09-02 15:53] juney-lee commented on #301
Hi @rajuu388, it seems like this error occurred during the pattern generation from a surface. Could you provide a screenshot of your input geometry and exactly at what step you are getting this error?

[2021-09-02 15:57] juney-lee commented on #302
Hi @rajuu388, could you provide a screenshot of your input geometry and exactly at what step you are getting this error?

[2021-09-02 15:59] juney-lee commented on #304
Hi @Shadi-alariss, could you provide a screenshot of your input geometry and exactly at what step you are getting this error?

[2021-09-02 16:00] #305 closed

[2021-09-02 16:02] juney-lee commented on #307
Hi @RefaatN, could you provide a screenshot of your input geometry and exactly at what step you are getting this error? If you have `.rv2` session file you could share, that would also be helpful.

[2021-09-07 07:05] AnnabellePeng opened #312 "TypeError: 'NoneType' object is not iterable"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-09-08 08:38] Licini commented on #311
hi @Zumcat The error is due to unsuccessful installation, during installation, did you choose "Yes" when system prompt to ask for permission ?

[2021-09-08 08:38] Licini commented on #310
duplicated with #311

[2021-09-08 08:38] #310 closed

[2021-09-08 08:39] Licini commented on #312
@AnnabellePeng Can you provide more information about the geometry causing the problem, maybe upload your 3dm or .rv2 session file?

[2021-09-08 08:41] Licini commented on #295
Hi @ocabitza @ar-saloni , From feature function is currently partly overhauled, we are working on bringing it back and will keep posted.

[2021-09-08 08:43] Licini commented on #308
HI @Chrismca From feature function is currently unstable and partly overhauled, we will keep you posted once we fully bring it back

[2021-09-10 11:32] tciblac commented on #242
Hello,
Do you have a solution to this error ?

Best regards

[2021-09-16 19:33] cajiga01 opened #313 "TypeError: 'NoneType' object is not iterable"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-09-16 19:36] cajiga01 commented on #312
I have the same problem when trying to use "define boundary conditions" over a planar surface.

[2021-09-16 19:39] cajiga01 commented on #313
#

[2021-09-17 12:04] sk9288go opened #314 "RuntimeError: subprocess terminated, reason unknown"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-09-26 14:51] nio9s opened #315 "Rhino Vault 2, Proxy call failed, connection is not open"
Hello,
I just downloaded Rhino Vault 2 for Rhino 7 on windows.
I tried to create a simple rectangular shape to try to create a vault.
**Whenever I press the "creating boundaries'' button I got this message: Proxy call failed, connection is not open.**

**That's the message I get:**

Traceback (most recent call last):
  File "C:\Users\DELL\AppData\Roaming\McNeel\Rhinoceros\7.0\scripts\compas_rv2\rh

[2021-09-28 01:39] msgmeyer opened #316 ""RV2 form" command "there is no pattern in the scene" error"
When trying to create a pattern from a surface using "RV2form" in the rhino command line, I get an error response "there is no pattern in the scene".  However, the vimeo tutorial does not have this issue. Anyone know what is happening?

Video Tutorial: https://vimeo.com/37618705

![Capture](https://user-images.githubusercontent.com/91510786/135008174-9ad5546a-aae6-472d-8925-634d22b90794.JPG)

[2021-10-14 04:47] yashrne opened #319 "installation failed for rhino 7"
tried installing the plug for which I opened a folder in d drive and installation got failed

[2021-10-14 04:57] yashrne opened #320 "installation failed"
tried installing the plug  I opened a folder in d drive and installation got failed

![Screenshot (281)](https://user-images.githubusercontent.com/92501231/137254550-422c20c3-718c-4658-8a98-2baa60c105a7.png)

[2021-10-15 12:32] yashrne opened #321 "KeyError: (512, 512)"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-10-15 14:34] Licini commented on #321
Could you upload your input 3dm or rv2 file and describe the steps to reproduce this error?

[2021-10-15 14:35] juney-lee commented on #316
Hi @msgmeyer . First of all, the video tutorial you referenced is for RhinoVAULT 1, which is not the same as RV2; it is outdated. The functions and features no longer have the same names in RV2.

It seems like you were trying to create a `Pattern` from a surface, correct? If that is the case, please try the `Create Pattern` button on the toolbar, choose `FromSurfaces`, then select your surface in

[2021-10-16 04:56] yashrne commented on #320
hi Li,
yes I tried that, and it worked. Thank you.

On Fri, Oct 15, 2021 at 8:04 PM Li ***@***.***> wrote:

[2021-10-17 17:09] thomas-ldm opened #322 "RuntimeError: subprocess terminated, reason unknown"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-10-17 17:12] thomas-ldm commented on #322
edit:
This problem emerged when inititialising Rhinovault2 in Rhino 7.
The installation went smothly,

Hope that this problem happened to someone already...
Thank you for your help in advance,

[2021-10-18 09:39] Licini commented on #322
Hi @thomas-ldm , this could be a bit tricky to troubleshoot... do you have some anti-virus software or firewall up and running? could you try to disable them temporarily and see if RV2 can be initiated? (Sometimes they falsely block the compas_cloud background server)

[2021-10-18 09:46] Licini commented on #322
@thomas-ldm If it's still not working, could you open `command prompt` and run below  command (Replace `D:\RV2` to the location where you installed RV2)
[code]
And take a screenshot of the log
![image](https://user-images.githubusercontent.com/17893605/137707867-70855f80-4e79-4631-a695-10da74cc4721.png)

[2021-10-23 01:37] andresobregonl opened #324 "KeyError: <class 'compas.datastructures.mesh.mesh.Mesh'>"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-10-23 01:52] andresobregonl opened #325 "KeyError: (0, 0)"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-10-28 20:01] Miguelcl00 opened #328 "AttributeError: 'NoneType' object has no attribute 'Attributes'"
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot of error behavior

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots o

[2021-11-02 23:35] ibrahim0alsayed opened #329 "installation failed"
I tried to install several times and it didn't work؟؟
![InkedScreenshot 2021-11-03 013256_LI](https://user-images.githubusercontent.com/66963770/139966182-06f83896-07db-4492-aa4c-51a65fada8fb.jpg)

[2021-11-03 11:28] ibrahim0alsayed commented on #279
Same problem, did you find a solution?

[2021-11-03 11:43] Licini commented on #329
@ibrahim0alsayed Did you choose yes when the system prompt up asking for allowing user account control?

[2021-11-03 11:44] Licini commented on #328
https://blockresearchgroup.gitbook.io/rv2/documentation/known-issues#after-opening-a-new-rhino-file-with-every-rv2-command-below-error-pops-up.-did-i-do-something-wrong

[2021-11-03 11:44] #328 closed

[2021-11-03 11:45] #316 closed

[2021-11-03 11:46] #314 closed

[2021-11-04 02:05] lznovsqz opened #330 "initialization step failed"
**Describe the bug**
I followed all the steps from the quick install guide, everything worked well until the initialization step, i tried several times  but it is not working, rhino says its an unknown command, hope someone could help me! thank you :)

**To Reproduce**
Steps to reproduce the behavior:
1. Please provide an input 3dm file
2. Describe the command that causes the error
3. A screenshot